[2016-11-20 19:23] ericmj commented on #314
I think we can check for 404 and 403 and not print any output in those cases. But that means if the repository has useful information for us in the body we are ignoring it.

[2016-11-20 19:24] josevalim commented on #319
To support this, we would need to add `:ignore_pre` to `Version.match?/3`.

[2016-11-20 19:27] josevalim commented on #319
To implement this, we would need to traverse the versions, and see if they match after removing their pre bit.

[2016-11-25 10:52] josevalim opened #320 "Warn or error if publishing a non-pre package that has pre-dependencies"
See discussion here: https://elixirforum.com/t/ecto-3-0-apparently-incompatible-with-mariarex-mysql/2557/5

[2016-11-28 01:18] ardhitama opened #321 "Mix deps.get should fail if cyclic deps found"
Running `mix` invokes
`** (Mix) Could not sort dependencies. There are cycles in the dependency graph`

While running `mix deps.get` stalled the console.

The behavior should be similar.

[2016-11-28 01:23] ericmj commented on #321
Can you show a mix project that reproduces this?

[2016-11-28 02:17] ardhitama commented on #321
It's an private umbrella project.

`App1`'s `mix.exs`

[code]

`App2`'s `mix.exs`

[code]

[2016-11-28 07:13] josevalim commented on #321
That's an Elixir bug. Can you please report it on elixir-lang/elixir? Thank you.

[2016-11-28 07:27] #321 closed

[2016-12-01 19:32] josevalim commented on #313
@ericmj this can put us in an uncomfortable situation where a package without an app is published to Hex but we cannot depend on it.

[2016-12-01 20:35] ericmj commented on #313
@josevalim I would argue that they are using Hex wrong in that case. A Hex package should be some form of OTP application, unfortunately we have no way of enforcing it since the clients accept any source content.

[2016-12-01 20:54] josevalim commented on #313
Sounds good. +1 for forbidding it then!

[2016-12-04 20:39] lasseebert opened #322 "mix hex.outdated shows wrong requirement version"
When I run `mix hex.outdated`, I get this line for the poison package:

[code]

So it would seem that I can upgrade poison. But I can't. Running `mix hex.outdated poison` reveals this:

[code]

So I have two packages depending on poison that allows upgrading to 3.0.0 and three that doesn't.

Am I missing something here, or is it a bug?

[2016-12-05 08:45] ericmj commented on #322
~> 2.0 roughly means ">= 2.0.0 and < 3.0.0" so your requirements should not match and you can't upgrade. We don't show all requirements on every package in the first view because that would be too noisy.

Does that explain how it works or do you still have a bug?

[2016-12-05 08:46] ericmj commented on #322
Maybe we should remove `hex.outdated` in favor of only keeping `hex.outdated DEP`?

[2016-12-05 09:08] lasseebert commented on #322
Ah ok, I thought the Requirement column in `mix hex.outdated` was supposed to show the combined requirement of all dependent packages. E.g. in the poison case above I would expect it to be `~> 1.5 or ~> 2.0`, since that is the most restrictive requirement.

Even if this is not fixable, I think `mix hex.outdated` is still a useful overview of what could (perhaps) be upgraded.

[2016-12-05 09:38] josevalim commented on #322
I think `mix hex.outdated` is still relevant because I don't want to run `mix hex.outdated` for all deps, only for those need upgrading and likely the upgrade is not possible.

If the issue is showing only one requirement, maybe you could replace the requirement column by "Upgrade supported" and use `Yes` or `No (see mix hex.outdated foo)`. Another option is to show all requirements that will fail

[2016-12-05 09:46] lasseebert commented on #322
I think showing an "Upgrade supported" column instead is a good solution :+1:

If @ericmj agrees, I would like to take a shot at implementing it ;)

[2016-12-05 12:50] ericmj commented on #322
We should change the last column to "Update possible" with Yes/No as values and the help text at the end should inform the user about the detailed view for more information.

Please go ahead if you want to work on this.

[2016-12-14 08:38] Qqwy opened #325 "Feature Request: Show 'exact match' of search query on top"
Right now, search results on Hex.pm are sorted by the amount of downloads. This is of course one of the least subjective way to sort search results.

However, when someone looks for a package that is relatively new, such as e.g. the [Numbers](https://hex.pm/packages/numbers) package that I released yesterday, it is all the way at the end of the search results, [even if you search exactly for the s

[2016-12-14 12:10] ericmj commented on #325
I agree. Please reopen at hexpm/hex_web.

[2016-12-14 12:54] #325 closed

[2016-12-17 17:30] #322 closed

[2016-12-19 04:57] karlseguin opened #328 "Improve error message (and possibly handling) for not-modified but not-found packages"
I'm not exactly sure what happened, but I started to get: "Unable to find package X in registry". The short version is that the request being sent to the registry included an `if-none-match` header, which the server replied with a Not Modified response and everything fell apart from that point on. Removing the header solved the problem.

It seems like the messaging could be improved, and possibly

[2016-12-19 15:16] ericmj commented on #328
This is a bug where the etag is cached but the tarball is somehow not. We have changed on master to include a `File.exists?` check so this should not happen anymore in the next release. A temporary workaround is to delete the `~/.hex/cache.ets` file.

[2016-12-19 15:16] #328 closed

[2016-12-19 16:01] vic opened #329 "Unable to find package in registry"
Hi,

I'm getting the following error when doing `mix deps.get` after creating a fresh mix project and adding a single dependency:

[code]

Here's the mix.exs file:

[code]

Also happens for other deps like ` {:dialyxir, "~> 0.4.1"}`

[code]

even when that is the dependency as reported by `mix hex.info dialyxir`. Does not happen with others like `{:ecto, "~> 2.1"}` any idea on what is wrong?

[2016-12-19 16:09] wojtekmach commented on #329
it's probably not gonna solve your issue, but please don't use `postgrex 1.0.0-rc.1` - that release got retired (see: https://hex.pm/packages/postgrex/1.0.0-rc.1)

[2016-12-19 16:22] vic commented on #329
Yep, just used postgrex as an example of a much more used package, after actually trying to install dialyxir and other packages.

The dialyxir version I'm trying to use does not look like being retired:
https://hex.pm/packages/dialyxir/0.4.1

Anyways still don't have a clue what's wrong.

As a side note, I normally tend to use `mix hex.info postgrex` to quickly copy and paste the dependency config

[2016-12-19 20:31] vic commented on #329
Possibly some hex service is down :(

[code]

[2016-12-19 20:37] josevalim commented on #329
That may be a cache issue. Try nuking "~/.hex/cache.ets" and see how it goes.

[2016-12-19 20:38] vic commented on #329
Great, that was it, thanks @josevalim ^^ ❤️

[2016-12-19 20:38] #329 closed

[2016-12-19 22:31] mobileoverlord opened #330 "Problem fetching latest dependency using >= 0.0.0"
I am experiencing issues fetching the 0.9.0 version of `nerves_system_qemu_arm` when the dependency is declared as
`{:nerves_system_qemu_arm, ">= 0.0.0"}`
In this scenario it will pull down 0.7.0, even after unlocking and updating.

It pulls down the  have changed it to `{:nerves_qemu_arm, "~> 0.9.0"}`

[2016-12-19 22:51] wojtekmach commented on #330
@mobileoverlord could you upgrade hex and try again? I tested it on latest stable (v0.14.1) and it locked to 0.9.0 with `>= 0.0.0`

[2016-12-19 22:53] mobileoverlord commented on #330
hurm, I am on 0.14.1. Maybe its because I have 0.7.0 already cached and its choosing that.

Here is what I am doing to make this happen.
[code]

[2016-12-19 23:00] wojtekmach commented on #330
Sounds like a bug indeed. Btw, does busting cache (`rm ~/.hex/cache.ets`) help?

[2016-12-19 23:05] wojtekmach commented on #330
I was able to reproduce it locally (busting cache does not help). Thanks for posting, we'll look into it!

[2016-12-20 00:35] mobileoverlord opened #331 "Strict Semver for Hex Deps"
## The Problem
Take the following scenario:

The application `:my_app` has a hex dependency on `:nerves ~> 0.4.2` and hex dependency `:nerves_system_qemu_arm ~> 0.9.0`
[code]

`:nerves_system_qemu_arm` also has a hex dependency on `:nerves ~> 0.4.0`
[code]

when running `mix deps.get` from within `:my_app` the following error is produced:
[code]

## What I expected
This scenario exposes what I see

[2016-12-20 01:09] ericmj commented on #330
I was not able to reproduce. @wojtekmach How did you do it?

[2016-12-20 01:11] ericmj commented on #331
It looks like nerves_system_qemu_arm declares its nerves dependency as "0.4.0" without "~>". See https://hex.pm/packages/nerves_system_qemu_arm/0.9.0.

[2016-12-20 01:17] mobileoverlord commented on #331
wow, this is the second time I've embarrassed myself today. Thanks eric

[2016-12-20 01:17] #331 closed

[2016-12-20 08:58] wojtekmach commented on #330
@ericmj I didn't get a smaller repro yet, so I followed these steps for nerves:

[code]

but I can't reproduce it anymore. @mobileoverlord can you still reproduce it? Perhaps https://github.com/nerves-project/nerves_system_qemu_arm/commit/62841af64c501f85c2801e4be2d7033b24aaf844 fixed it?

[2016-12-20 17:00] mobileoverlord commented on #330
its possible thats the case. However, it would still have posed a problem since the dep had `{:nerves, "0.4.0"}` and the project had `{:nerves, "~> 0.4.0"}`  maybe that combination causes an issue to be shown.

[2016-12-22 00:13] #315 closed

[2016-12-22 00:17] wojtekmach commented on #314
for that case, perhaps having `debug`/`HEX_DEBUG` config option would solve it? E.g. in error message we could say: "run with HEX_DEBUG=1 to see more info" or something like that.

[2016-12-22 01:59] ericmj commented on #314
HEX_DEBUG sounds like a good solution.

[2016-12-22 11:37] PragTob opened #332 "Using hex as the API client for hex_web?"
Hello and of course as always thanks for all your work :)

Is hex, as the current project goal, intended to also be used as an API client for hex.pm? E.g. there is the basic Hex.API name space with some nice convenience functions :)

Or would I be better off implementing my own API wrapper referring to the [API spec](http://docs.hexpm.apiary.io/#)?

That is given I want to implement a Phoenix appl

[2016-12-22 11:39] josevalim commented on #332
Given that `hex` is installed as an archive, I believe a proper API client should be a separate project, that is properly versioned, and can be added as a dependency of your project (since an archive can't be really versioned alongside your projects).

[2016-12-22 11:43] wojtekmach commented on #332
For reference, this issue came up a couple of times already:

- https://github.com/hexpm/hex/issues/303
- https://github.com/hexpm/hex/issues/302#issuecomment-257038528

[2016-12-22 11:45] PragTob commented on #332
Okay, great thanks :)

[2016-12-22 11:45] #332 closed

[2016-12-22 11:48] PragTob commented on #332
I did see #303 but that made it sound to my eyes more that it's a thing of hex not being 1.0 yet and the other concerns about the version being installed/it being a git dependency don't matter for me as it would be one application that runs and I maintain so I would have control over the hex version being installed there.

Overall, it makes sense to have a separate API client and if it's good it m

[2016-12-22 12:03] ericmj commented on #332
When Hex is 1.0 you will probably be able to call some public functions on Hex but we will probably not expose general purpose API functions. Instead there will be some functions around dependency handling and Mix integration, for example functions around the registry, these functions can be useful if your project integrates with Mix dependencies in some way. Even so, I still think all of those fu

[2016-12-22 12:09] PragTob commented on #332
@ericmj ah I feared that archives wouldn't support normal mix dependencies :( Well if a workable solution for that comes around it'd be nice to know. If I start this project (which as always is uncertain) I'll probably rip out the HTTP part from here and first put it as a project into an umbrella and when I have a first version up and running move it to its own repo and package.

Thanks for the qu

[2016-12-22 17:47] wojtekmach commented on #332
@ericmj can archives support local deps, as in: `path: "hex_client"`? If so, what we could do in the meantime is:

1. add a new package, e.g. github.com/hexpm/hex_client and publish it on hex.pm. it should probably have a pluggable HTTP library so Hex can use `:httpc` but folks might want to use HTTPoison or something.
2. add hex_client as git submodule to github.com/hexpm/hex. Anytime there's a n

[2016-12-22 19:00] wojtekmach commented on #332
I got it to work with git submodule but Instead of using it as a mix dep, I've adjusted compile path, see: https://github.com/hexpm/hex/tree/wm-hex-client

[2016-12-22 19:00] ericmj commented on #332
We could add support for dependencies when building archives in mix. The main problem is that the archive and all its dependencies are loaded in the same runtime where user applications are running. So if the archive and a user app shares a dependency they are going to conflict with conflicts such as duplicate application names, process registered with same names and duplicate module names.

That

[2016-12-22 19:04] wojtekmach commented on #332
gotcha, that was the main part I was missing.

[2016-12-24 22:02] #308 closed

[2016-12-24 23:53] #312 closed

[2016-12-25 21:35] sotojuan commented on #318
Is the place to fix this [here](https://github.com/hexpm/hex/blob/master/lib/hex/resolver/backtracks.ex#L161)?

[2016-12-26 06:27] hzamani opened #335 "Invalid `Unknown package` error"
While `prometheus` package exists on the [registry](https://hex.pm/api/packages/prometheus), running `mix deps.get` on a project with prometheus as dependency prints this message:
[code]

[2016-12-26 07:12] wojtekmach commented on #335
Might be caching issue, could you try this solution: https://github.com/hexpm/hex/issues/329#issuecomment-268071488

[2016-12-26 08:12] hzamani commented on #335
That was it, thanks.

[2016-12-26 08:31] #335 closed

[2016-12-26 10:42] hzamani commented on #335
Isn't it better to remove hex cache in `mix local.hex` command?

[2016-12-26 10:48] josevalim commented on #335
It may be better to version the cache. Add an entry such as `{version, 1}` to the ets table and, after opening it, consult the version. If a different version, close the table and erase the cache file.

[2016-12-26 13:27] PotHix commented on #308
@ericmj could you test and define a new number of concurrent downloads?

[2016-12-26 14:18] ericmj commented on #335
We can start versioning when we need to do backwards incompatible changes :).

This could have been caused by a bug in earlier Hex versions where the VM could exit while writing the ets file. If this keeps happening we need to add some additional consistency checks to the file.

[2016-12-26 14:20] ericmj commented on #308
@PotHix We have already done that, the new default is 8. You can override it by setting `HEX_HTTP_CONCURRENCY`.

[2016-12-27 21:43] milmazz commented on #305
I think this issue is already fixed

[2016-12-27 21:45] milmazz commented on #298
Is somebody working on this issue? I can try to implement this new feature if you're OK /cc @josevalim @ericmj

[2016-12-27 21:45] ericmj commented on #298
I am working on this currently.

On Tue, Dec 27, 2016 at 10:45 PM, Milton Mazzarri <notifications@github.com>
wrote:

--
Eric Meadows-Jönsson

[2016-12-27 22:19] ericmj commented on #305
Closing in favor of PR https://github.com/hexpm/hex/pull/334.

[2016-12-27 22:19] #305 closed

[2016-12-28 12:37] PragTob commented on #332
Hey there,

just as an update after trying to figure it out for a while, I'll probably write a standalone client. There's other parts of Hex sprinkled over Hex.API which makes extraction harder (especially together with the tests) and given that the only thing I really need (so far) is release/package data this seems to be by far the easier route, although I'd have theoretically liked for it to be

[2017-01-06 19:04] drewolson opened #341 "Hex should respect HEX_OFFLINE during version checks"
Hex currently checks for newer versions even if `HEX_OFFLINE=true`.

I think the version check should respect this environment variable.

[2017-01-16 19:47] #299 closed

[2017-01-16 19:49] #341 closed

[2017-01-18 10:39] bcat-eu opened #344 "A task to clean cache?"
I've had an issue with the hex registry, it appeared not to know any of the packages. Something like that:

    mix deps.get
    ** (Mix) Unknown package gettext in lockfile

and that (without lock file)

    mix deps.get
    ** (Mix) No package with name phoenix_pubsub (from: mix.exs) in registry

turns out it was a cache problem, `rm ~/.hex/cache.ets` solved it for me, but before I got to it I h

[2017-01-18 10:58] ericmj commented on #344
There shouldn't be any reason to clean the cache. We need to fix the bug that causes the cache to go into a bad state instead.

Did you recently upgrade to the latest hex version?

[2017-01-18 11:35] bcat-eu commented on #344
I did upgrade today, but only as part of figuring out what the problem is, yesterday it all worked and as far as I can tell nothing changed. Also this is the very first time I had to clean the cache as well (and I get deps pretty often).

If I knew that it's about the cache file I'd save it and post here, but at the time I didn't know it, so I'm afraid it will be hard to reproduce unless someone e

[2017-01-18 11:37] ericmj commented on #344
We don't need the cache file, the issue happens when the cache is corrupted. There is not much we can do after it has been corrupted.

Hopefully this issue has been fixed in the latest version of Hex. Please open a new issue if it happens again.

[2017-01-18 11:37] #344 closed

[2017-01-21 05:57] mbgardner opened #345 "Manually Building a Cache"
Hello, I work in an environment with limited internet access, so I've been building a Docker image with the entirety of hex.pm repository, along with the registry.ets file, and using it in offline mode. With the change to use the local cache file, this is no longer working and I get: ** (Mix) Hex is running in offline mode and the registry entry for package xxx is not cached locally. I've seen som

[2017-01-21 12:31] dm1try opened #346 "Problem with adding `vegur` as dependency(rebar3)."
https://github.com/heroku/vegur
After running:
`mix deps.get`

[code]
Hex info:
[code]

EDIT:
after overriding:
[code]

`mix deps.compile` returns
[code]

[2017-01-21 12:37] josevalim commented on #346
What if you do as suggested by the error message? Which is to pick one of the dependencies and specify `override: true`?

[2017-01-21 12:47] dm1try commented on #346
@josevalim I've updated the message. After adding `override: true`, cowlib is not compiled because warnings treated as errors. So I'm not sure if I'm missing something.
Thanks!

[2017-01-21 12:54] josevalim commented on #346
Try picking a more recent cowlib version then. :)

[2017-01-21 13:08] dm1try commented on #346
It seems `{:cowlib, github: "ninenines/cowlib", tag: "2.0.0-pre.1", override: true}` does the trick :)
Feel free to close as I'm not sure if this one a `hex` bug or not.

[2017-01-21 13:44] ericmj commented on #345
You can no longer cache the entire registry on your local machine. The dependencies you fetch will be cached, both the tarballs and the registry entries, but no other packages than your dependencies.

What you can do is run `mix deps.get` on all the projects you use to make sure the dependencies are cached and then copy the `~/.hex` directory to the Docker image.

[2017-01-21 13:46] ericmj commented on #346
I would recommend setting the same overrides as vegur does unless you use some other dependencies that require a newer cowlib. https://github.com/heroku/vegur/blob/master/rebar.config#L7

[2017-01-21 13:46] #346 closed

[2017-01-21 13:54] dm1try commented on #346
@ericmj the same overrides raise the compilation error(see above):
[code]
How could I tell the `hex/rebar` that it should not raise the error for warnings?

[2017-01-21 14:22] ericmj commented on #346
Since elixir 1.4.0 we should disable warnings_as_errors for rebar dependencies. It works for me on elixir master with these dependencies:

[code]

[2017-01-23 14:46] PragTob opened #347 "mix hex.outdated doesn't seem to take into account version conflicts"
`mix hex.outdated` tells me that I can update `phoenix_live_reload`

![selection_052](https://cloud.githubusercontent.com/assets/606517/22208308/bb75bd60-e182-11e6-9d4d-279ca453762b.png)

In reality, I sadly can't. E.g. mix deps.update only sets it to 1.0.6 and trying to set it to 1.0.7 manually yields the following error:

[code]

Ideally hex would take into account such conflicts, and even bette

[2017-01-23 14:56] ericmj commented on #347
I agree that this would be a nice feature. Unfortunately it's very complex to understand why an upgrade is not possible. I would say that `mix deps.get` shows in a nice way why the upgrade failed.

As an example of the complexities, `hex.outdated` may show two packages as updatable, but you can only update one or the other because updating both would cause conflicts. How should this be displayed i

[2017-01-23 15:24] PragTob commented on #347
Thanks for the fast answer! Sure [here is the mix.lock](https://gist.github.com/PragTob/d2395968ff0807d0430b67ac520714ef)

I agree, the complete solution for this is probably rather complicated (and my thinking is probably to simple as I never wrote a dependency graph resolver). Personally I'd also be happy with a simple solution that covers msot use cases or not as accurately as possible.

I agre

[2017-02-04 20:18] dpehrson opened #350 "Feature: Allow version to be specified when installing hex"
## Situation

The way I handle development environments is to ship code with a Dockerfile and docker-compose configurations that allow a new developer to simply clone the repo and do `docker-compose up` to get started.

## Problem

Depending on when a developer clones the repo and builds the local images, there is no guarantee they will end up with images running the same version of hex. While thi

[2017-02-05 15:16] ericmj commented on #350
This will be added to Elixir when Hex hits 1.0.0. For now it's better to install the latest version rather than a specific version because an older version is more likely to be broken than latest since we are making changes to APIs.

[2017-02-05 18:08] dpehrson commented on #350
@ericmj Great news, thanks for the quick reply. I understand the rapid development and look forward to things settling. In the meantime I will work around this on my end somehow.

Thanks again for all your hard work.

[2017-02-09 21:46] Frost commented on #329
Hi,

I'm having this exact issue now, but with the `amqp` package, which at least [seems to exist](https://hex.pm/packages/amqp/0.1.5:

[code]

I cannot find any `~/.hex/cache.ets` file locally. In fact, I have tried to nuke the entire `~/.hex` directory but I still get the same error.

All other packages seem to work fine, so I am not sure if that's an issue with hex or the amqp package.

Minimal

[2017-02-09 22:18] Frost commented on #329
@twinn narrowed this down to something breaking between hex 0.12 and 0.15: https://twitter.com/tony_winn/status/829814144736051202

@ericmj Is there any way to downgrade my local version of hex?

[2017-02-09 22:23] ericmj commented on #329
@Frost You seem to have been hit by a separate issue on the backend. I have fixed it manually.

[2017-02-09 22:25] twinn commented on #329
@ericmj @Frost works now, thanks!

[2017-02-09 23:06] ericmj commented on #329
Fixed on the backend: https://github.com/hexpm/hex_web/commit/73760debbc4d4cd96b39cee8a55da0789ce690d9.

[2017-02-10 08:14] Frost commented on #329
Yep, it works now. Thanks! :)

[2017-02-10 22:49] wojtekmach opened #351 "Check update is running too often"
Checked on `v0.15.0` and `master`.

[code]

when I run `mix hex.info` on good connection it fetches the info and next time I call `mix` on no connection it does not check for updates anymore.

[2017-02-11 00:17] ericmj commented on #351
We should only check version once a day. But it seems like the timer is not reset when the update check fails. The timer should always reset, regardless if the check was successful or not.

[2017-02-21 12:48] garmoshka-mo commented on #308
Bug is still there:
(Makes feel really unsure about platform)

[code]

[2017-02-21 13:05] josevalim commented on #308
To be fairly honest, I would feel the same. However, I want to clarify that httpc, which is the http client that ships as part of Erlang/OTP, does not reflect the platform as a whole. We are aware of the limitations of the built-in http client and we are working on addressing them.

For anyone wanting to use an HTTP client in your applications, we recommend [hackney](https://github.com/benoitc/hac

[2017-02-21 13:21] garmoshka-mo commented on #308
@josevalim Yes, after few attempts (it shown same error on different dependencies), package manager finally did his job and I was able to execute required library.

Just pointing on emotions, which feel user, who seeing such behaviour at the very first steps. That could make him concerned about going further - can be significant barrier for community growth. (Maybe it's pretty important issue.)

[2017-02-21 13:27] ericmj commented on #308
@garmoshka-mo You are talking about a separate bug which is only a warning - not an error. Please include the output of `mix hex.info` when reporting errors. This warning should be fixed in OTP 19.2.

[2017-02-27 21:37] myronmarston opened #352 "`mix deps.get` is painfully slow even if it is a no-op"
In our umbrella application (which is probably larger than most Elixir apps; it's been under continuous development for 18+ months, has 47 child apps, and 74 external dependencies), `mix deps.get` has been getting slower and slower as the application has grown.  At this point, it takes about 3 minutes to run, even if no dependencies need to be installed or updated.  Our travis builds are dominated

[2017-02-27 21:52] ericmj commented on #352
There should be no need to pin dependencies in `mix.exs` if you keep your `mix.lock` file around.

If there's anything we can do to make resolution more performant we would love to do it, but we need something to work with. This is the first report we have received in a long time about resolution being slow. If you can share anything that reproduces the slowness that would help out a lot, without

[2017-02-27 22:11] josevalim commented on #352
Yes, I would recommend [measuring the times different parts of this file is executed](https://github.com/elixir-lang/elixir/blob/master/lib/mix/lib/mix/dep/converger.ex#L49-L116) to give us an estimate of where it is actually being slow. Especially those blocks:

1. https://github.com/elixir-lang/elixir/blob/master/lib/mix/lib/mix/dep/converger.ex#L49-L116
2. https://github.com/elixir-lang/elixir/

[2017-02-27 22:20] wojtekmach commented on #352
Also, does the ~3min `deps.get` run happens only on Travis or for developer's builds it's slow as well? If the latter, perhaps the slowness is caused by the network and we should investigate that?

If you haven't done that already, as a temporary workaround you might want to consider writing a `fast_deps.sh` script that essentially does what you're suggesting (with `if [ ... ]; then mix deps.get`)

[2017-02-27 22:35] myronmarston commented on #352
I'll try putting together an example project demonstrating the project.

Thanks, I'll give that a shot.

It happens locally for developers as well.

Yep, it's something we were already considering.  It would be nice if it wasn't necessary, though, so I'd rather spend my effort providing info to hopefully get this fixed in hex and/or mix.

[2017-02-27 23:34] myronmarston commented on #352
@josevalim you were right about the mix operations you pointed out -- the vast majority of the time is there.  I applied [this patch](https://gist.github.com/myronmarston/8f42794daca161d97f3359e14ace3e86) to mix, which is easier to visualize with `git diff -w`:

[code]

Making that change resulted in this output:

[code]

At this point, should we close this issue and move it to elixir-lang/elixir?

[2017-02-28 00:17] josevalim commented on #352
From your results it seems that remote.converge is the slowest one... so it
seems to be a Hex issue after all.

The next step then is to provide a group of dependencies that reproduce the
slow down. One way to do this is to get all deps before you call
remote.converge, getting all dependencies that belong to Hex.SCM (please
double check if this is the module name) and then print the app and
requir

[2017-02-28 01:10] myronmarston commented on #352
Thanks.  That snippet worked fine (you guessed the fields right!), and produced a list of 33 dependencies.  Here's the `mix.exs` for a fresh project I came up with to test it:

[code]

...but when I ran `mix deps.get`, it was very fast:

[code]

I'm heading home for the day but tomorrow I can try trimming our project down so we have all the umbrella context, since that appears to matter.  (Unless

[2017-02-28 08:56] josevalim commented on #352
@myronmarston if you copy the mix.lock file and put it alongside the new mix.exs, is it also fast or slow? If it is still fast, maybe the extra dependencies we send to Hex is slowing it down for some reason.

[2017-02-28 18:02] theocodes commented on #308
Same here :(

I was getting:

[code]

until I ran:

`mix deps.clean --all`

and now getting:

[code]

[2017-02-28 18:04] josevalim commented on #308
Some folks are reporting Amazon S3 is returning 500 and timeouts for them. It seems to be an S3 issue (which is where packages are hosted).

[2017-02-28 18:05] josevalim commented on #308
More info here: https://status.aws.amazon.com

[2017-02-28 18:11] MonkeyIsNull commented on #308
Thanks for the update, I just got clobbered by this problem.

[2017-02-28 18:13] theocodes commented on #308
Thanks @josevalim! Was beginning to pull my hair out! Oh wait, i have none left :(

[2017-02-28 21:33] myronmarston commented on #352
I extracted a stand-alone example project from our project.  It's basically our code base with everything but the `mix.exs` files deleted.  Here it is:

https://github.com/seomoz/slow-mix-deps-get

It's not taking quite as long (~ 2 minutes instead of 3 minutes) but it still demonstrates the problem, I think:

[code]

[2017-02-28 21:45] ericmj opened #353 "Clean up HTTP handling code"

[2017-02-28 22:11] ericmj commented on #352
Hex is slow because you add the same set of ~30 packages to each of your 44 applications. You should only add dependencies to the applications that need them.

When the resolver starts Mix passes 102 dependency requests to Hex. During the resolvers run each dependency is checked X times. To be honest, the resolver wasn't really built to handle this scenario. I will try to see what we can improve,

[2017-02-28 22:25] ericmj commented on #352
I investigated more closely and it's in the override check [1] we are getting slow. An override check can take upwards up to 3 secs at the end of the resolver run. If we can optimize it should fix most of the performance issues.

[1] https://github.com/hexpm/hex/blob/master/lib/hex/resolver.ex#L183

[2017-02-28 22:52] josevalim commented on #352
@myronmarston if you have deps that are shared across all apps, then I would recommend creating a base app that includes all of the shared dependencies and have all other apps depend on the base app exclusively instead of duplicating the same deps over and over again.

[2017-02-28 23:17] myronmarston commented on #352
What do you mean?  While we have a [global list of 30 packages](https://github.com/seomoz/slow-mix-deps-get/blob/6f4442523d747efea617afa891e0fb8a0887a9ce/mix_common.exs#L93-L160), that's just for purposes of keeping a centralized place where the version or other options are specified once--that way, when we want to upgrade a dependency that multiple sub-apps use, we do not have to update the versi

[2017-02-28 23:39] josevalim commented on #352
@myronmarston what I meant is that you could move all shared dependencies to a project called "base". Then instead of depending on all 30 dependencies over and over, each project in the umbrella depends only on "base".

In any case, we have a fix that reduces the time from 3 minutes to 3 seconds. :)

[2017-02-28 23:52] myronmarston commented on #352
I get that, but each app has a different subset of the full set of dependencies.  Having each app depend on all dependencies isn't something we want to do.

[2017-02-28 23:52] myronmarston commented on #352
Awesome!  I'm looking forward to seeing that change :).

[2017-03-01 00:05] josevalim commented on #352
@myronmarston to be clear, I am only talking about those dependencies: https://github.com/seomoz/slow-mix-deps-get/blob/master/mix_common.exs#L93-L160

Unless you are also talking about those dependencies as well. If so, then we are good. :D

[2017-03-01 09:18] ericmj commented on #352
We have a fix https://github.com/hexpm/hex/commit/935e5f9eefc425ccb09af915d3546f308f918d7b in place on master. You can use master by cloning this repo and install it with `mix install`.

[2017-03-02 05:50] myronmarston commented on #352
Thanks, @ericmj!  I can confirm it's much, much faster.

Any idea when a new hex release might drop with this included?

[2017-03-02 05:50] #352 closed

[2017-03-02 09:42] ericmj commented on #352
Hopefully within a week or two.

[2017-03-04 12:01] etroynov opened #354 "(Mix) Wrong passphrase"
Hi,

i foget my passphrase, how i can reset it?

thanks for help!

[2017-03-04 12:03] ericmj commented on #354
Call `mix hex.user reset password` https://hex.pm/docs/tasks#hex_user or use the website https://hex.pm/password/reset.

[2017-03-04 15:45] etroynov commented on #354
thanks!!

[2017-03-04 15:45] #354 closed

[2017-03-07 11:04] josevalim opened #358 "RETIRED information may be lost on output"
The output of `mix deps.get` with Hex is quite verbose and that will unfortunately make it that users miss important warnings such as the new RETIRED checks. Here is a sample run from ExDoc:

[code]

Unless I am looking at the screen and using colored output, it is likely that I will miss the retired warning. I would suggest for making the output less verbose. Such as:

[code]

[2017-03-07 11:05] josevalim commented on #358
The `mix deps` also shows somewhat duplicated information:

[code]

I believe the second `excoveralls` is only in case the application and package name are different. If that's the case... then we should only show it in such cases.

[2017-03-07 11:17] michalmuskala commented on #358
How about showing additional summary of retired packages at the very end?

[2017-03-07 11:20] josevalim commented on #358
@michalmuskala unfortunately not possible right now. We would need to first extend Mix.

[2017-03-07 11:33] josevalim commented on #358
Actually @ericmj pointed we could use the post converge callback. So we should use that instead and also show it or after resolution OR during getting/updating.

[2017-03-07 12:46] ericmj commented on #358
I think we should only print something for each checkout/update if there was an error or if running with `MIX_DEBUG=1` or some other debug flag (I think the output is really useful because it tells me if caching is working, but I am guessing most people don't care :)).

Remove the second line here:
[code]

The only downside with post_converge is that we need to track which packages we checked out

[2017-03-07 12:58] josevalim commented on #358
It was intentional but I am indifferent. Maybe in the lock you only need to store that the package is retired and then you can lookup for the retirement message elsewhere. Is it stored in the registry or only on the web API? If it is in the registry, then you may want to include a limit as well so people do not spam the registry with large messages.

[2017-03-07 14:12] michalmuskala commented on #358
I think printing the retirement messages for everything in lock file every time you run `mix deps.*` is perfectly fine.

[2017-03-07 14:32] ericmj commented on #358
I would really like to avoid adding more things to the lock but it's stored in the registry which is cached so it should be fine.

There is 140 character limit on the message.

[2017-03-07 14:48] josevalim commented on #358
@ericmj yes, so I think looking up in the registry on post_converge should be OK. It will be cheap compared to the cost of everything else.

[2017-04-03 18:34] myronmarston commented on #352
Any chance we could get a release this week?

[2017-04-06 14:47] colinrymer commented on #46
Why must this be the case? If I'm building a private package that depends on Ecto, for example, this would mean I have to duplicate Ecto into my registry and ensure I update it as Ecto updates.

[2017-04-06 15:42] ericmj commented on #46
That comment was from over two years ago :). The `:repo` option is not live yet but when it is you can use it to set where the dependency should be sourced from. The only restriction is for the hex.pm repository, for it you can only depend on other packages from hex.pm.

[2017-04-11 17:01] pragdave opened #360 "How do you use the `extra:` key?"
I'm trying to add metadata to a project using `extra:`.

In my `mix.exs`:

[code]

But when I `mix hex.publish` I get:

[code]

Am I doing something wrong?

Dave

[code]

[2017-04-11 18:44] ericmj commented on #360
No, everything looks correct so this is a bug on the client or the server. We should have tests that cover this: https://github.com/hexpm/hex/blob/4be19ea6edd88dbad3f66f4c195643ed8d0820a3/test/support/release_samples.ex#L28.

@mobileoverlord Are you using this? If so, can you show us an example that works for you?

[2017-04-11 19:44] pragdave commented on #360
is it an apiary error?

On Tue, Apr 11, 2017 at 1:44 PM, Eric Meadows-Jönsson <
notifications@github.com> wrote:

[2017-04-11 19:45] mobileoverlord commented on #360
I have not had a chance to leverage this yet. We were going to use it in Nerves to expose some of the package contents to the search api.

[2017-04-11 20:41] #360 closed

[2017-04-11 20:43] ericmj commented on #360
Thanks for the report.

The bug was that we didn't correctly convert the proplist back to a map on the server when parsing the package metadata for validation.

The package metadata stores maps as erlang proplists in the package tarball because we need to support clients using OTP versions where maps are not introduced yet.

[2017-04-11 21:24] pragdave commented on #360
Ouch—the things you have to think about  :)

Thanks for looking into it.

On Tue, Apr 11, 2017 at 3:43 PM, Eric Meadows-Jönsson <
notifications@github.com> wrote:

[2017-04-12 17:07] elpikel commented on #351
Can I take care of this one?

[2017-04-12 17:09] ericmj commented on #351
@elpikel Go ahead.

[2017-04-13 17:03] elpikel commented on #351
@ericmj To make hex check version once a day we should just open Hex.Registry.Server and close in Mix.Tasks.Hex.Info. This will check for new version without force flag - which is probably what we need. Right now there is check_update used which checks for updates with force flag. Could you explain me the part with timer?

[2017-04-15 20:27] Qqwy opened #361 "Improve 'Publishing a Package' page to include ExDoc's :source_url"
Because of a topic with an unrelated subject on the Elixir Forum, I started looking into how Mix and ExDoc ensure that the links in the documentation point to the source code that is hosted on GitHub.

It turns out that this is [part of the settings you can configure for ExDoc](https://github.com/elixir-lang/ex_doc#using-exdoc-with-mix), which are read out of the mix.exs file. More specifically, y

[2017-04-17 08:35] wojtekmach opened #362 "Add --repo option to `mix hex.info PACKAGE`"
currently `mix hex.info PACKAGE [VERSION]` only works for `hexpm` repo, we should allow it for other ones as well. cc @ericmj

[2017-04-17 12:26] ericmj commented on #351
@elpikel We run the check every time we start `Hex.Registry.Server` - not only for `hex.info`.

[2017-04-17 12:27] ericmj commented on #361
That's a good idea, please open a PR on https://github.com/hexpm/hexpm.

[2017-04-17 12:27] #361 closed

[2017-04-17 12:35] ericmj commented on #362
I don't it's possible with how things work right now because `hex.info` uses the HTTP API and we don't have store a API url for repos. This is mainly because we haven't yet addressed how to publish to multiple repos yet - only how to consume packages from multiple repos.

I think when we can publish to other repos without manually setting the API url we will solve this as well. Another alternative

[2017-04-17 19:13] elpikel commented on #351
@ericmj that's right.

[2017-04-18 09:31] #353 closed

[2017-04-18 09:32] #350 closed

[2017-04-18 09:33] #345 closed

[2017-04-18 09:33] ericmj commented on #330
Closing this, but of course if the issue reappears please reopen or open a new issue :)

[2017-04-18 09:33] #330 closed

[2017-04-18 09:35] ericmj commented on #362
Ah, it looks like we cannot use the registry for `hex.info` without removing features. Lets revisit this when we have implemented multi-repo for publish.

[2017-04-18 09:35] #362 closed

[2017-04-18 17:10] wojtekmach commented on #320
Fixed in #333

[2017-04-18 17:10] #320 closed

[2017-04-19 08:55] Angry-Potato opened #363 "mix hex.repo show NAME"
The `mix hex.repo show NAME` task is not implemented.

Returns
[code]
regardless of arguments

[2017-04-22 20:25] Qqwy opened #364 "Read `project.name` if `project.package.name` is not available."
As was discussed on the elixir-lang-core mailing list (https://groups.google.com/forum/#!topic/elixir-lang-core/kve1an2xwus), the `:name` field was extracted from _mix.exs'_ `project.package.name` to just `project.name` so that multiple different libraries would be able to read it.

This is a convention that other libraries such as ExDoc already follow. Having both a `project.name` and a `project.

[2017-04-23 09:36] ericmj opened #365 "Warn if hex detects lock entries from newer hex version"
We can check if there are elements that we are ignoring in the lock entry.

[2017-04-25 03:22] joshcrews opened #366 "can't figure out 'Could not start Hex.' on heroku"
This app has been running on heroku (under active development) since January 2016.   I have two other (younger) heroku elixir/phoenix apps that are not experiencing this problem

[code]

my buildpacks
[code]

[2017-04-25 06:39] umatomba opened #367 "Compilation using HEX_OFFLINE mode"
Hi @ericmj, @josevalim

For some security reasons we should be sure that rebuilding of the application is reproducible.
Trying to compile the previously fetched code in the build mashine in `HEX_OFFLINE` mode i see the effect, that new hex needs to communicate with hex.pm to build his cache.

The compilation of the some source code and the fetching process are two different tasks, that should be s

[2017-04-25 06:49] ericmj commented on #366
It looks like you have `HEX_MIRROR` set in your Heroku config. Do you need this configuration? If so you need to set it with the new `mix hex.repo` tasks.

[2017-04-25 06:54] ericmj commented on #367
If the dependencies have been fetched I think the hex manifest (deps/*/.hex) and the lockfile (mix.lock) should be enough to use dependencies.

Dependency fetching and compilation are already two separate tasks. When you run `mix compile` Hex should not even be started so I'm not sure why Hex is running. Can you show what commands you run and when you see that Hex makes HTTP calls and how you chec

[2017-04-25 07:48] umatomba commented on #367
hex don't make requests. I see the error from https://github.com/hexpm/hex/blob/master/lib/hex/registry/server.ex#L326

What i made:

[code]

**'Hex/0.16.0 (Elixir/1.4.1) (OTP/19.2)'**

[2017-04-25 09:55] ericmj commented on #367
@umatomba This looks like a regression indeed. I will investigate.

[2017-04-25 12:19] joshcrews commented on #366
That was it!
Thank you.
I can't remember why I did it.  I found the value I had put:
HEX_MIRROR:                  https://s3.amazonaws.com/s3.hex.pm
For anyone else, you can remove that heroku env variable with `heroku config:remove HEX_MIRROR`

[2017-04-25 12:19] #366 closed

[2017-05-01 10:57] niku opened #368 "Working with CI"
I tried to publish an elixir package with using `mix hex.publish` in CI environment. [It was succeed](https://elixirforum.com/t/deployment-an-elixir-project-with-using-travisci/4875). However, I felt it was a little bit hackey. So I have a some question and/or suggestion.

I thought that It was not good to writie a value for `hex.config` to STDOUT which is logging to files which anyone can read in

[2017-05-01 11:13] ericmj commented on #368
What you can do instead is to build your hex config file locally and copy it to your CI environment, the file is located ad ~/.hex/hex.config.

I'm not sure I want to support this because I feel like publishing via CI is the wrong flow. The reason we have the prompt is so that you actually look at the output we show you and accept it. If you just automatically publish you can just ignore this info

[2017-05-02 03:39] RaymondLoranger opened #369 "No colors when publishing from Windows Powershell"
When I publish (mix hex.publish), I get these lines:
  Building docs...
  [32mDocs successfully generated.[0m
  [32mView them at "doc/index.html".[0m
instead of getting the above 2 lines in green.

If in iex, I type: IO.puts "\e[32mDocs successfully generated.\e[0m"
it works: Docs successfully generated does print in green.

[2017-05-02 14:40] RaymondLoranger commented on #369
I am using 1.4.2. So it is just a matter of waiting for the next version?

[2017-05-02 14:55] josevalim commented on #369
The bug was on v1.4.0 only so it is supposedly fixed on v1.4.2.

[2017-05-02 15:13] niku commented on #368
Ah, it seems better than my way. I'll try it later. Thank you for your advice 😃

I strongly agree with you about I have to accept it manually when I look at the first time.
However, for convenience, I will be happy if I can skip it from the next time.
I think CI environment isn't the first time of `hex.publish` usually.

So, I wonder adding a (verbose) command line option is useful something like:

[2017-05-03 09:04] ericmj commented on #368
It's less about accepting the code of conduct and more about confirming that you want to publish after we have showed the details about what you are publishing. But iirc we have converted all warnings to errors so I think we can add a `--force`, `--no-confirm` or similar.

[2017-05-03 09:54] fhunleth opened #370 "Timeouts when publishing"
At times, `mix hex.publish` will fail with `:timeout` errors for both the package and documentation uploads. The failure can be repeated for minutes at a time and then a half hour or a couple hours later everything works. No other internet connection issues appear to be happening. The hex.pm website and hex dependency downloads/updates appear to work fine.

Watching Wireshark, it looks like an SSL

[2017-05-03 12:41] agustif commented on #364
Would it be enough to edit hex.publish.ex there are various mentions to:
[code]
Would be the best way to create a private function to put the logic to fetch from build.name first, and build.meta.name in case of build.name being empty or not valid?

[2017-05-07 07:36] josevalim opened #371 "Important! Remove regular expressions from archive"
Precompiled regexes are not forward compatible. This will be necessary for Erlang 20 compatibility. I would recommend to push a new version in the next weeks or so.

[2017-05-07 08:37] ericmj commented on #371
It looks like no regular expressions are used in the archive 🎉

[2017-05-07 11:09] #371 closed

[2017-05-08 15:27] OvermindDL1 commented on #369
For note, colors work for me, but I'm using the conemu terminal in front of powershell.  What terminal is @RaymondLoranger using in front of powershell?

[2017-05-09 17:05] RaymondLoranger commented on #369
Thanks OvermindDL1. I am using PowerShell, **not** ConEmu. (I sure intend to install it though as it looks awesome). However, the fact remains that when I run `mix docs` locally I do get the 2 lines above in green. Not so, when I run `mix hex.publish`. Hex does not use IO.ANSI. To get the passphrase, it does: `IO.write(:standard_error, "\e[2K\r#{prompt} ")`. Just a hunch, but I suspect that not in

[2017-05-09 17:30] OvermindDL1 commented on #369
Powershell is a shell, not a terminal.  Powershell can be used in `cmd` (the default windows terminal, which is crap, but *does* support colors fine as of Windows 10, just not before), or in conemu (supports it all fine, and tabs, and more and more), and you can even use powershell in a GUI mode (has a cool debugger then too), so the 'powershell' part is not what shows color, but rather what displ

[2017-05-09 18:08] RaymondLoranger commented on #369
As I said, colors work beautifully using Windows PowerShell:
![image](https://cloud.githubusercontent.com/assets/4298228/25865354/9b683a8e-34c0-11e7-8658-58dc9d37b8a7.png)
Colors do not work using Windows Command Prompt:
![image](https://cloud.githubusercontent.com/assets/4298228/25865463/f2ccbcbe-34c0-11e7-846d-2944b6e1200e.png)
I am on Windows 10.

[2017-05-09 18:28] josevalim commented on #369
What happens if you run this on IEx:

    IO.puts :stderr, IO.ANSI.format [:green, "foo"]

[2017-05-09 18:31] OvermindDL1 commented on #369
This is what I get in the Windows 10 stock `cmd` prompt:
![image](https://cloud.githubusercontent.com/assets/401605/25866296/3401052c-34b3-11e7-9c38-b6810ad58f2b.png)

And in the Win10 stock powershell prompt:
![image](https://cloud.githubusercontent.com/assets/401605/25866349/6fae3f04-34b3-11e7-8265-f9c9546c8112.png)

[2017-05-09 18:34] OvermindDL1 commented on #369
And for completion, in my mingw shell in conemu:
![image](https://cloud.githubusercontent.com/assets/401605/25866444/c3fab02e-34b3-11e7-8881-688dacd9d884.png)

[2017-05-09 18:44] RaymondLoranger commented on #369
I have to explicitly specify `true` to get green:
![image](https://cloud.githubusercontent.com/assets/4298228/25866843/cf4c4278-34c5-11e7-9416-c97124650da5.png)
My .iex.exs has this configuration:
IEx.configure colors: [
  enabled: true,
  eval_result: [:cyan, :bright],
  eval_info: [:blue, :bright],
  eval_error: [:magenta, :bright],
  doc_title: [:reverse, :yellow, :bright],
  doc_headings: [:ye

[2017-05-10 09:56] ngw opened #374 "timeouts with mix deps.get"
Hi, I'm having a very weird issue when trying to get the dependencies of a project. Weird because none of my collegues have the same problem, and the file that hex claims to return a timeout downloads just fine.

ngw@blackstar ~/ uname -a
Linux blackstar 4.9.24-1-MANJARO #1 SMP PREEMPT Fri Apr 21 08:32:28 UTC 2017 x86_64 GNU/Linux

ngw@blackstar ~/hedging-ledger mix hex.info
Hex:    0.16.0
Elixir:

[2017-05-10 10:03] ericmj commented on #374
How long does it take until you get the timeout? Please run `time mix deps.get`.

[2017-05-10 10:14] ngw commented on #374
Appears to be a real timeout:

mix deps.get  2.77s user 0.54s system 17% cpu 18.457 total

[2017-05-10 10:16] ericmj commented on #374
The package is ~2mb which is bigger than most packages, so if you have slower than usual internet connection this can cause timeouts.

We should raise the default timeout and make the value configurable.

[2017-05-10 10:37] ngw commented on #374
So, the timeout is not if a server doesn't answer in 15 seconds, but if the operation takes 15 seconds to complete? Can I say it seems a very bad idea?

[2017-05-10 11:59] #363 closed

[2017-05-10 13:23] fhunleth commented on #370
It's happening again. A log is attached below. Each time it says 100% below there was a long delay.

[code]

[2017-05-10 16:08] josevalim opened #375 "Add `hex audit`"
It prints a warning if any of the packages in lock is retired and exits with status 1 if so.

[2017-05-10 17:09] ericmj commented on #370
It's possible it is related to this bug: https://bugs.erlang.org/browse/ERL-420. If you are on OTP 19.3.1 can you try an earlier version?

[2017-05-10 21:26] fhunleth commented on #370
I think that you're right about it being related to ERL-420:
[code]
Believe it or not, hex is working for me again. I'll leave 19.3.1 installed and as soon as it fails, I'll try an earlier version.

Thanks!!!

[2017-05-11 14:44] InoMurko opened #376 "Stale responses"
Hi,
some background what the test should perform. I want to execute two transactions towards Braintree API. First one has an amount of 500, the second one amount of 100. Between each transaction is a 40s timeout (:timer.sleep).
What happens is that the execution and HTTP **responses** are correct when executing the test script directly:
`mix test test/wallet/payments/braintree/braintree3_test.exs`

[2017-05-11 14:46] #376 closed

[2017-05-11 15:25] ninjanicely opened #377 "Multiple Repos Question"
I've got a hello world project and the only change to it is I'm including ex_doc as a dependency.
I've specified this dependency to come from the repo hexpm...
`{:ex_doc, ">=0.0.0", repo: :hexpm}`

My problem is, I'm trying to publish to a private repo (I've specified this through the api_url in the hex.config).

When I try and publish the hello world project, I get a ..

Publishing failed
Validat

[2017-05-11 15:49] ericmj commented on #377
The validation error you are seeing is returned from the server. You need to make sure the repository you are using supports packages from other repositories. If you are using hexpm as your repository this will not work since it was built for https://hex.pm which will not allow this. You need to build your own repository or modify the repository you are using to support this.

[2017-05-14 16:16] blatyo opened #378 "Publishing an already published version of a library still pushes the docs"
I'm not sure if this is intended behavior. When I was publishing a new version of a library, I didn't bump the version, so the publish failed, but the docs were pushed for the new version to the current version. It seems like if the publish fails, the docs publish should also fail. Maybe it's intended that there be a way to update the docs after the fact, but perhaps that should be a separate comm

[2017-05-17 21:37] ysukhoverkhov opened #379 "`mix test` executes hex'es integration tests by default"
Hi, I cloned the `hex` repo, run `mix test` and it tried to run integration tests which should not be the case according to readme.

Could be fixed like this: https://github.com/ysukhoverkhov/hex/pull/1

The first time I write something in elixir, could violate code conventions or something since I basically have no idea what am I doing.

[2017-05-18 08:31] ericmj commented on #379
I think the current behaviour is correct so we should rather update the readme to mention `--exclude integration` instead of `--include integration`.

[2017-05-19 12:13] whatyouhide commented on #379
I think this can be closed since #380?

[2017-05-19 12:13] #379 closed

[2017-05-24 16:45] RaymondLoranger commented on #369
the color issue when publishing in Powershell is now resolved (whatever the explanation may be):
![image](https://cloud.githubusercontent.com/assets/4298228/26414962/e23624c0-407e-11e7-9b82-68a51fdc3396.png)

[2017-05-24 16:49] OvermindDL1 commented on #369
Huh, was elixir updated?  Hex updated?  Windows updated?  Powershell updated?

[2017-05-24 17:40] RaymondLoranger commented on #369
On my part, I installed Elixir v1.4.4 (before I had Elixir v1.4.2).  And yes ConEmu would give me colors prior to v1.4.4.  Thanks much.

[2017-05-24 19:46] RaymondLoranger commented on #369
I forgot to mention that I also recently installed the Windows 10 Creators Update.  That could be the explanation.

[2017-05-25 05:16] #369 closed

[2017-05-26 14:09] fhunleth commented on #370
Hmm. I'm having the same issue again. I reverted OTP versions. Now I've reproduced the issue with:
[code]
and
[code]

[2017-05-30 08:45] #377 closed

[2017-05-30 08:46] ericmj commented on #374
Closing this since there hasn't been any more feedback.

[2017-05-30 08:46] #374 closed

[2017-05-30 08:55] ericmj commented on #364
The name in `project.name` is not the same name as in `project.package.name`. The first is the human readable name of the project in capitalized form, the latter is the name of the package, all in lower case. For example `project.name: "Phoenix Framework"` and `project.package.name: "phoenix"`.

[2017-05-30 08:55] #364 closed

[2017-05-30 09:12] ericmj commented on #347
I have looked at this and it's unfortunately not feasible because we would have to run a full dependency resolution for each outdated where we only upgrade the package. It may also be possible to update the version but not all the way to the latest, which is not clear how to display in the UI.

Because of the technical and UX issues I think (and the ones I listed above) it would be better to keep

[2017-05-30 09:12] #347 closed

[2017-05-30 09:13] ericmj commented on #303
I think for now it's better to use the HTTP API like Credo currently does.

[2017-05-30 09:13] #303 closed

[2017-05-30 09:13] ericmj commented on #298
Implemented.

[2017-05-30 09:13] #298 closed

[2017-05-30 10:00] #378 closed

[2017-05-30 11:35] Qqwy commented on #364
@ericmj Wait! I think this means that some documentation is incomplete somewhere. I am not sure this is something that is part of Mix or Hex (I think the Hex as Mix itself only uses `project.name`), but we should improve the documentation to clarify this difference.

And if indeed `project.package.name` should always be a lowercase name, maybe we should constrain it and error or warn when a user e

[2017-05-30 11:37] ericmj commented on #364
If there is wrong documentation we should of course fix it, please let us
know if you find anything. Hex.pm will validate the package name.

On Tue, 30 May 2017 at 13:35, Qqwy <notifications@github.com> wrote:

--
Eric Meadows-Jönsson

[2017-05-30 12:02] Qqwy commented on #364
For posterity:

So I guess this issue can be considered 'completed' for some definition of completed. :smile:

[2017-06-06 15:13] elad opened #383 "Not working out of the box"
Hello,

I'm following the intro tutorials and can't get packages installed.

Output:

[code]

What am I doing wrong?

[2017-06-06 15:14] josevalim commented on #383
Poison 4.0 was not released yet. You are probably following the master branch instructions. Try to use `~> 3.0`.

@ericmj I thought we were supposed to say in those cases that no packages match this particular requirement?

[2017-06-06 15:45] elad commented on #383
@josevalim I just followed the instructions in https://github.com/devinus/poison, I guess I should gone for https://hex.pm/packages/poison instead!

In any case, this error message is very unfriendly. Asking me to "relax the version requirements" assumes I tightened them. I'd suggest printing out available versions and/or saying no packages matches the version provided and/or suggesting the most r

[2017-06-06 15:49] elad opened #384 "Can't install packages over NAT64"
Hello,

When I'm on an IPv4 network, everything is fine:

[code]

However, when I connect to an IPv6 VPN that does NAT64 for talking with the public internet, I can't install packages:

[code]

Without inspecting the code, it seems to me that it explicitly looks for `A` records in the response, ignoring `AAAA` records (that are present in the response).

Is it intended to not work in such IPv6 sce

[2017-06-06 16:01] ericmj commented on #383
Yes, I'm not sure why it didn't in this case.

[2017-06-06 16:02] ericmj commented on #383
We should have a better error message but if you do relax the version requirements you won't get the error.

[2017-06-06 16:09] elad commented on #383
@ericmj do we really want to call switching from 4.x to 3.x "relaxing" requirements? Isn't it more akin to downgrading an entire major version of the package? Doesn't that require a more serious audit of the code to make sure it's even possible...? I totally get that if I change that line in `mix.exs` I can make the error "go away." :)

[2017-06-06 16:52] ericmj commented on #383
It's not about switching between major versions or auditing code, if you
feel like you need that do that is not something a package manager can have
any input on. You need a less strict version requirement so you need to
"relax" it, I believe this is common terminology.

On Tue, 6 Jun 2017 at 18:09, Elad Efrat <notifications@github.com> wrote:

--
Eric Meadows-Jönsson

[2017-06-06 16:53] josevalim commented on #383
@ericmj I would think that relaxing is going from ~> 4.0.0 to ~> 4.0. Maybe "change" is a more neutral term?

[2017-06-06 17:08] ericmj commented on #384
I haven't tested with ipv6 and don't know if it's supposed to work. This would likely be configured or a feature on a different level than hex. I would suggest looking into httpc and the dns lookup that ships with OTP.

[2017-06-06 17:13] ericmj commented on #383
Going from ~> 4.0.0 to ~> 4.0 or ~> 4.0 to ~> 3.0 is both two less strict version requirements that will allow more versions. I'm not really sure what the difference is except one of them keeps the same major version, they are both less strict or more relaxed.

Relax is more correct in this case because it won't work if you go to a more strict requirement but it may work if you go to a less strict

[2017-06-06 21:44] #383 closed

[2017-06-08 20:41] skylerparr opened #385 "Hex not available for elixir version < 1.4.4"
’m getting `(Protocol.UndefinedError) protocol Enumerable not implemented for nil` when running `$ mix local.hex` for elixir version `1.4.0`

When attempting to pull any version from Hex I'm getting permission denied. Is hex no longer available for elixir version 1.4.0?

[2017-06-08 20:42] josevalim commented on #385
Do you have a full stacktrace?

[2017-06-08 20:46] skylerparr commented on #385
# mix local.hex
** (Protocol.UndefinedError) protocol Enumerable not implemented for nil
    (elixir) lib/enum.ex:1: Enumerable.impl_for!/1
    (elixir) lib/enum.ex:116: Enumerable.reduce/3
    (elixir) lib/enum.ex:1776: Enum.reduce/3
    (elixir) lib/uri.ex:434: URI.nillify/1
    (elixir) lib/uri.ex:405: URI.parse/1
    (mix) lib/mix/utils.ex:467: Mix.Utils.url?/1
    (mix) lib/mix/utils.ex:375:

[2017-06-08 20:57] wojtekmach commented on #385
could you provide some more information? what OS? are you using docker etc? Do you have any Mix/Hex-related environment variables set (like HEX_MIRROR)? Could you paste the stacktrace of permission denied error?

Hex supports all Elixir 1.0+ versions.

[2017-06-08 21:00] skylerparr commented on #385
I'm running Ubuntu 14.04.4 LTS (GNU/Linux 3.13.0-92-generic x86_64) on aws. Installing elixir via:
`apt-get install -y elixir=1.4.0-1`
`apt-get install -y elixir=1.4.1-1`
`apt-get install -y elixir=1.4.2-1`

They all produce the same error.

`apt-get install -y elixir=1.4.4-1`

does not produce the error.

No environment variables being set. This is a base installation of Ubuntu.

[2017-06-08 21:02] skylerparr commented on #385
Not using docker. Getting permission denied xml from hex.pm when running curl.

[2017-06-08 22:29] ericmj commented on #385
It could be that you have `HEX_MIRROR` set or maybe you are using elixir with OTP 20.

That's expected.

[2017-06-08 22:33] skylerparr commented on #385
I think it's related to OTP 20 RC. I downgraded all of erlang to OTP 19 and it appears to be working.

[2017-06-08 22:36] ericmj commented on #385
Yeah, that's it. Regexs are broken on OTP 20 and Elixir 1.4.

[2017-06-08 22:36] #385 closed

[2017-06-09 12:00] 6aKa opened #386 "mix test --exclude integration not working."
I add IO.inspect.ExUnit.configuration in test_helper.exs.
Run mix test without exclude

Run mix test with exclude

Info

[2017-06-09 12:42] #386 closed

[2017-06-09 12:42] wojtekmach commented on #386
Thanks for the report, the fix is on master.

[2017-06-10 09:12] 2kodes opened #388 "Get elixir-lang docs with mix hex.docs fetch"
hi,
 is there any way to get the docs for elixir-lang through hexdocs?? something like mix hex.docs fetch elixir

mix hex.docs fetch elixir
 ** (Mix) No package with name elixir

mix hex.docs fetch elixir-lang
** (Mix) No package with name elixir-lang

[2017-06-10 10:12] ericmj commented on #388
This is not possible since elixir is not a Hex package so we don't know what version to fetch.

[2017-06-10 10:34] josevalim commented on #388
@ericmj I think it would be worth special casing mix, elixir, logger, iex, eex and ex_unit. You can get the version the script is currently running on. Thoughts?

[2017-06-10 10:42] ericmj commented on #388
Yeah, we can get the current version, for builds on branches I think it would be hard but it's probably not the end of the world it that doesn't work. It would also be a slight difference behaviour from packages since they always fetch the latest version.

We also need to make sure we build the doc tarballs for elixir which seems to be broken or not implemented right now.

[2017-06-16 05:53] KamilLelonek opened #389 "mix deps.get fails while building a Docker image"
During `mix deps.get` I constantly receive the following error:

[code]

[2017-06-16 07:46] ericmj commented on #389
Can you create a Dockerfile or something else that reproduces that error?

[2017-06-16 08:09] ericmj commented on #389
It looks like it could be a race condition, does it happen every time?

[2017-06-16 08:34] ericmj commented on #389
I think the bug is that we prefetch mariaex but it's not resolved so we do not wait for the response of that http request before closing the registry. We should wait for all pending requests before closing.

[2017-06-16 08:36] KamilLelonek commented on #389
I'll post a Docker file once I'm back.

And yes, it happens every time.
On Fri, 16 Jun 2017 at 10:34, Eric Meadows-Jönsson <notifications@github.com>
wrote:

[2017-06-16 10:08] KamilLelonek commented on #389
Here is the `Dockerfile`

    FROM elixir:latest

    ENV MIX_ENV prod

    RUN mix local.hex --force
    RUN mix local.rebar --force

    COPY . .

    RUN mix deps.get --only-prod
    RUN mix deps.compile
    RUN mix compile

[2017-06-16 10:53] ericmj commented on #389
We need the project also to reproduce, since this doesn't happen for all
projects. We may be able to fix without reproducing but we can't be sure.

On Fri, 16 Jun 2017 at 12:08, Kamil Lelonek <notifications@github.com>
wrote:

--
Eric Meadows-Jönsson

[2017-06-16 12:34] KamilLelonek commented on #389
It happens on an empty project.

Sometimes I see:

[code]

[2017-06-16 12:35] KamilLelonek commented on #389
And it's not related to one particular dependency, because as you can see:

[code]

[2017-06-16 12:38] ericmj commented on #389
That's a different error that has no affect on you more than the output.

Even if it's not related to a particular dependency a way to reproduce would be good. The Dockerfile you provided is incomplete and will not reproduce the error you are seeing.

[2017-06-16 12:40] KamilLelonek commented on #389
I've just created an empty project using:

    mix phx.new docker --no-brunch --no-html --binary-id

and put there this `Dockerfile`.

[2017-06-18 20:14] ericmj commented on #389
Next time please create a proper reproducing case with instructions so that maintainers can quickly reproduce. Remember that most of us are doing this in our free time without any compensation.

[2017-06-18 20:14] #389 closed

[2017-06-18 20:21] KamilLelonek commented on #389
But this is what I did, isn't it?

[2017-06-18 21:21] josevalim commented on #389
It is not quite the same. There are many things that can change between `mix phx.new` to something that reproduces the error. Phoenix version, the version of your dependencies, etc, etc. Time that we spend reproducing bugs is time we could have spent fixing bugs, so it is important to reduce the amount of steps and the possible "variations" in the outcome. A app on github we can clone with clear s

[2017-06-19 04:33] KamilLelonek commented on #389
Now I see, thanks Jose for the patient explanation.
On Sun, 18 Jun 2017 at 23:21, José Valim <notifications@github.com> wrote:

[2017-06-25 19:12] codeanpeace commented on #270
I just ran into this exact issue attempting to publish a hex package without ex_doc. I was uncertain whether it successfully published and ended up here searching for clarification.

It'd have been helpful for the output to explicitly say something to the effect that ex_doc is required before you can successfully publish your hex package.

[2017-06-25 19:14] ericmj commented on #270
@codeanpeace Can you paste the output from hex when you published your package? And let us know which version you are running with `mix hex.info`.

[2017-06-25 19:18] codeanpeace commented on #270
Of course!
Output from `mix hex.info`:
[code]

Output from `mix hex.publish`:
[code]

[2017-06-28 23:26] sstine commented on #374
Would be great if this timeout was configurable

[2017-06-28 23:28] ericmj commented on #374
It's not possible without creating a new http client.

[2017-06-29 16:03] ericmj opened #391 "HEX_MIRROR should work again but only for "hexpm" repo"

[2017-07-01 13:20] Qqwy opened #392 "Nondescriptive error when republishing after changing dependency versions"
I just published an updated version of my library, and then realized that I had not updated the version number of one of the dependencies in Mix.exs.

After changing it and then attempting to re-publish (republishing is possible for up to an hour after the original publishment), Hex gives me the following stack trace:

[code]

Now, the fact that you're not allowed to republish something when the d

[2017-07-02 14:57] wojtekmach commented on #392
@Qqwy looking at the error:

[code]

it looks like it's related to `requirements`. When the 1h window is up we send the error in the `inserted_at` key. Could you send github url for your package and/or paste `deps` part of your mix.exs that you were trying to publish? (support@hex.pm if it's private.) That would be a huge help to reproduce and fix this bug, we definitely shouldn't crash.

[2017-07-02 22:07] Qqwy commented on #392
@wojtekmach thank you for your reply!

I encountered the issue when releasing one of the prerelease versions of  [Prioqueue](https://github.com/Qqwy/elixir-prioqueue), but I was unable to quickly find the exact commits at which it happened.

I think it is possible to reproduce the problem as follows:
_(Note that this does involve publishing a package to Hex; but you probably have a way to fake tha

[2017-07-02 22:24] wojtekmach commented on #392
Thank you @Qqwy, I was able to reproduce this. Indeed the problem happens when a package was released with dependency say `foo ~> 0.1.0` and then we re-publish with `foo ~> 0.2.0`

[2017-07-02 23:18] wojtekmach opened #393 "Use api_url from config when displaying package url"
Currently, we always show this message when publishing:

[code]

even if the package got published to locally running hexpm.

[2017-07-03 00:01] wojtekmach opened #394 "Run dependency resolution before publishing package"
Related to https://github.com/hexpm/hex/issues/392

[2017-07-03 08:00] #392 closed

[2017-07-03 12:59] ericmj commented on #270
This is what we do, from what you pasted:

[2017-07-03 13:06] josevalim commented on #270
@ericmj To be clear, we say the task is unavailable and that you need it, but it may not be clear the status of publication. What about this:

[code]

?

[2017-07-03 13:22] codeanpeace commented on #270
Precisely, my first line of thought was wondering whether the package could of been successfully published but just without docs.

[2017-07-04 07:36] mjbaig commented on #374
Why is this closed. It seems like this should be an issue, right?

[2017-07-08 23:21] fhunleth commented on #370
One more clue: this appears to be Linux-specific (Ubuntu 16.04.2 LTS). The issue is reproducible for me right now and a Mac on the same network isn't affected.

[2017-07-12 10:22] fishcakez opened #395 "Include metadata.config in deps"

[2017-07-12 20:39] ericmj commented on #395
What should we call the file we put in `deps/mydep` and what should the behaviour be if a file with that name already exists?

I propose `hex_metadata.config` and we should not write file if a conflicting file exists and instead print a warning. Maybe also print a warning (later error) if a file with that name is included when publishing?

[2017-07-20 01:10] jessiahr commented on #370
I ran into this issue today and I found that the root cause for me was that the node_modules folder was being included in the mix package. It seems that this makes the upload step take too long and it then times out. Hopefully this helps someone in the future.

[2017-07-20 09:43] ericmj commented on #370
@jessiahr Are you getting the same error as @fhunleth?

[code]

[2017-07-20 16:00] jessiahr commented on #370
Yes, the only difference was the first of the two progress bars would only make it halfway.

[2017-07-21 20:38] #375 closed

[2017-07-31 20:14] asgoel commented on #368
@ericmj would this apply to the key decryption step as well? or is there a way to auto store the password for the account so you don't have to type it in every time.

[2017-07-31 20:19] ericmj commented on #368
You should be able to use `mix hex.user passphrase` and give an empty password to remove your password from the auth key. This is not recommended though.

[2017-07-31 20:29] asgoel commented on #368
yeah I'm planning on using this for some private packages that we have that we would use a CI to automatically push to a self hosted repository, not hexpm. If that's the only way then that's probably what I'll do, since this will all be self contained within our own network.

[2017-08-01 03:31] ricoz commented on #374
Downlaod the .tar package manually and mv to ~/.hex/packages. Repeat for other timed out packages.

[2017-08-01 07:36] #393 closed

[2017-08-07 15:49] mobileoverlord opened #404 "execute permissions are being stripped"
Nerves leverages several shell scripts and files that are included as part of the hex package that require execute permissions to be set. Hex used to store the permissions for these files but no longer does.

Here is an example of the difference between the `create-build.sh` file that is part of `nerves_system_br`

`nerves_system_br` 0.13.3
`-rwxr-xr-x   1 jschneck  staff   4.5K Aug  6 15:40 creat

[2017-08-08 10:02] #404 closed

[2017-08-08 10:03] ericmj commented on #404
@mobileoverlord Sorry, this was a regression in the last release. It has been fixed on master, you can use master by cloning this repo and running `mix install`.

[2017-08-08 13:43] mobileoverlord commented on #404
❤️  Thanks Eric

[2017-08-24 10:05] #391 closed

[2017-08-24 10:06] ericmj commented on #384
Closing due to no activity.

[2017-08-24 10:06] #384 closed

[2017-08-24 10:20] ericmj commented on #351
This should be fixed now. Please reopen if that isn't the case.

[2017-08-24 10:20] #351 closed

[2017-08-24 10:26] ericmj commented on #388
We build tarballs for elixir core docs now. This issue is up for grabs.

[2017-08-24 10:31] #270 closed

[2017-08-24 10:31] #313 closed

[2017-08-24 11:30] cedrico2016 commented on #329
```That may be a cache issue. Try nuking "~/.hex/cache.ets" and see how it goes.```
How can i nuke "~/.hex/cache.ets"? what is the command for that? I am facing the same issue.

[2017-08-24 11:31] josevalim commented on #329
@cedrico2016 just remove the file. Like `rm "~/.hex/cache.ets"`.

[2017-08-24 11:39] #368 closed

[2017-08-24 12:39] cedrico2016 commented on #329
@josevalim
i've tried it several times, but it is always impossible for me to install exmagic.
I get the same error: ```Failed to fetch record for 'exmagic' from registry (using cache)
<?xml version="1.0" encoding="UTF-8"?>
<Error><Code>AccessDenied</Code><Message>Access Denied</Message><RequestId>A3F2A7B332AA4036</RequestId><HostId>WCIUUiFhkuRXZTJLdu6ZJGI/3PQOlvV+IeTAIfEf8r9MLPqH5JrMlP3QOJcX2B/iF

[2017-08-24 12:55] Frost commented on #329
@cedrico2016 Did you mean [exmagick](https://hex.pm/packages/exmagick) (with a k at the end)?

[2017-08-24 13:07] Frost commented on #329
It does seem a bit weird that a "No package with name ..." error prints out a bunch of XML containing `<Code>AccessDenied</Code>`. That might be confusing since that's not really the error. Speaking in HTTP status codes, it feels like a non-existing package should rather result in a 404 than a 403.

[2017-08-24 13:10] ericmj commented on #329
@Frost This is how S3 works, it doesn't know if there is an object on that url or if you don't have access to it. We track this issue here: https://github.com/hexpm/hex/issues/314. Contributions would be appreciated.

[2017-08-24 13:11] cedrico2016 commented on #329
ohh  @Frost   Thank you a lot... i was writing it the whole time without "k" at the end. Now it's ok.. The dep has been correctly installed.

[2017-08-27 14:55] #388 closed

[2017-08-29 12:53] #314 closed

[2017-08-29 13:00] #318 closed

[2017-08-29 13:11] ericmj commented on #367
I can not reproduce this. Can you confirm that it's still an issue on the latest Hex version? If you can still reproduce please provide a sample project.

[2017-08-29 13:11] #367 closed

[2017-08-30 08:30] edgurgel commented on #370
Can we have a configurable timeout or maybe just up the default for something longer?

[2017-08-30 09:10] #370 closed

[2017-08-30 09:11] ericmj commented on #370
I increased the default timeout to 60s when pushing tarballs and added the HEX_HTTP_TIMEOUT environment variable for configuring it.

[2017-08-30 09:34] edgurgel commented on #370
Wow that's awesome! Thanks, @ericmj <3

[2017-08-30 09:55] ericmj opened #412 "Authenticate hex.search HTTP requests"
This will include private packages in the search results. Only do this if there is a user authenticated on the machine.

/cc @Gazler

[2017-08-30 11:37] Gazler opened #413 "There is no validation when a key is added for authentication"
It is currently possible to pass any key with the `--key` argument on `mix hex.organization auth acme`. For example:

[code]

This makes it seem like the key is invalid when it isn't. It would be better if it validated (by making an authenticated API call?) the key and output an error if it was not.

[2017-08-30 14:45] #413 closed

[2017-09-06 08:04] bitboxer opened #416 "Problems with dependencies, only: :test and private hex packages"
I am seeing a weird behaviour right now on our system when using private hex packages and I am not sure if this is a bug.

I have a phoenix app that includes 2 hex private hex packages. The deps looks kinda like this:

[code]

Both package_a and package_b have a dependency on the timex library. The phoenix app also needs the timex library, but doesn't declare it in its deps. And now to the weird p

[2017-09-07 14:50] ericmj commented on #416
It sounds like a bug when you describe but it is hard to understand the whole dependency tree. Please run `mix deps.tree` and include it in the issue?

When you say that timex is not available do you mean it's not available when you run the application with mix `mix phx.server` or when you run it as a release?

Generally, if you have a dependency on a package you should declare it on every level w

[2017-09-08 07:23] bitboxer commented on #416
Okay, I take it back. After looking at it again after 2 days it is a problem in how we defined the dependencies in the child packages. Sorry 👍 . And yes, I added timex to the parent app now, just to be on the safe side.

[2017-09-08 07:23] #416 closed

[2017-09-08 11:34] maierru opened #417 "certificate unknown - failed_to_decode_certificate"
$ mix local.hex

14:43:11.485 [error] SSL: :certify: ssl_handshake.erl:420:Fatal error: certificate unknown - failed_to_decode_certificate

** (Mix) httpc request failed with: {:failed_connect, [{:to_address, {'repo.hex.pm', 443}}, {:inet, [:inet], {:tls_alert, 'certificate unknown'}}]}

Could not install Hex because Mix could not download metadata at https://repo.hex.pm/installs/hex-1.x.csv.

$ c

[2017-09-08 15:03] ericmj commented on #417
What's your OTP and Elixir versions?

[2017-09-09 16:21] #319 closed

[2017-09-10 10:32] maierru commented on #417
$ mix -v
Erlang/OTP 21 [DEVELOPMENT] [erts-9.0.2] [source-1308dd415] [64-bit] [smp:8:8] [ds:8:8:10] [async-threads:10] [hipe]

Mix 1.6.0-dev (78872181c) (compiled with OTP 21)

[2017-09-10 13:48] ericmj commented on #417
Does it work if you use stable OTP 20? Are you using default settings so that you are connecting to hex.pm?

[2017-09-10 16:30] ivan-kolmychek opened #420 "Is HEX_HOME env var mentioned somewhere in the documentation?"
I wanted to change where hex keeps the cache but haven't found anything like `MIX_ARCHIVES` env var in documentation.

Closest thing I found to the list of supported env vars was [this section](https://hex.pm/docs/tasks#hex_config).

After a bit of searching in code, I found the `HEX_HOME` env var, which seems to be what I was looking for.

Should it be added to documentation somewhere?

(if not,

[2017-09-13 12:48] brweber2 opened #424 "Improve display and warnings when publishing private packages"
In order to publish a private package you run:
[code]

If you forget to add the --organization flag it publishes your private code **publicly**. I think that it should publish to the private repo by default if :organization is in mix.exs. If someone wishes to publish a private package publicly then they could use a flag to indicate they they do not want the default behavior. As a (future) paying c

[2017-09-13 13:01] josevalim commented on #424
I agree that if you put an `:organization` under the `:package` key in the mix.exs then you should always publish under that organization.

[2017-09-15 01:45] ericmj commented on #424
@brweber2 Can you show your mix.exs file? The `:organization` key should be added under the `:package` key. It will not work if you add it directly under `def project`.

[2017-09-15 01:47] ericmj commented on #420
It seems like it was accidentally removed. It should be added to the documentation of `hex.config.

[2017-09-15 14:55] brweber2 commented on #424
Ah, we have it directly in the keyword list in :project.  So that is where we went wrong, but I’m sure we won’t be the last group to do this. The docs are technically correct, but it is very subtle that the config shown is package and not project.

Thanks for clarifying this!

[2017-09-15 15:18] josevalim commented on #424
@ericmj given this can be a very sensitive issue, maybe it is worth checking for an `:organization` key being misplaced?

[2017-09-15 15:30] wojtekmach commented on #424
I think in this particular case it makes sense to raise an error if we detect misplaced organisation/organization (easy to make typo from different en speaking countries)

What we can also do is make it prominent to which repo we are publushing before hitting "Y", perhaps by using bold and/or colored text and putting the message in a separate line.

[2017-09-15 15:45] josevalim commented on #424
Yes, maybe say "PUBLICLY" on the regular publishing messages or even have a separate workflow for publishing for orgs... although that wouldn't necessarily address the muscle memory issue.

[2017-09-16 01:21] ericmj commented on #424
I agree with all points.

  * Check for British spelling `:organisation` and warn
  * Check if any options under `:package` are given under the root and warn
  * Make it more clear than it is today if you're pushing to the public repository or a private one

[2017-09-16 02:28] spirinvladimir opened #425 "Publishing failed (HTTP status code: 505)"
I can't publish module with hex.
[code]

[code]

[2017-09-16 04:44] brweber2 commented on #424
Ah, we have it directly in the keyword list in :project.  So that is where we went wrong, but I’m sure we won’t be the last group to do this. The docs are technically correct, but it is very subtle that the config shown is package and not project.

Thanks for clarifying this!

[2017-09-21 13:33] jjl opened #427 "Terrible error message caused by download failure"
[error output](https://gist.github.com/jjl/4de29d6da95b5cda359b19a60b6a225c)

What I think is happening is that the file is failing to write (which should trigger an error, but not this one...)

[2017-09-21 13:37] jjl commented on #427
Output of `mix hex.info`:

[code]

[2017-09-22 01:06] ericmj commented on #425
The error is "505 Version Not Supported" which indicates a client issue. Since everyone is using the same client and I haven't seen this error before it is a bit weird. This suggests to me that the connection is incorrectly proxied but according to @spirinvladimir no proxies are you used.

[2017-09-22 01:07] ericmj commented on #427
Yep, we should handle this better.

[2017-09-22 15:35] imsearchdev opened #428 "High error rate pulling packages"
We have been seeing lots of errors pulling packages from hex. We do use private packages and we are not sure if that is relevant or not, so I'm including the fact that we are. This has been getting worse over the past 3 days. Our builds are regularly failing now because of hex related errors.

Typical Error:

[code]

[2017-09-22 15:36] josevalim commented on #428
Can you please run `mix hex.info` and also include information such as OS?

[2017-09-22 16:54] imsearchdev commented on #428
Gladly. Here you go:

[code]

Ubuntu Trusty 14.04
[code]

Elixir version:
[code]

Hex version:
[code]

[2017-09-22 17:20] ericmj commented on #428
I think we can always restart requests that return `{:error, :socket_closed_remotely}`. What do you think @josevalim?

[2017-09-22 17:25] josevalim commented on #428
@ericmj possibly but do it only a certain amount of times (like 3).

[2017-09-24 16:40] ericmj opened #429 "Try to keep newer parts of lock entry that we dont know about due to using an old client"
To make things like this https://github.com/phoenixframework/phoenix/pull/2507/files#diff-7234367b857fd47fe1b5d1bcfd7e05ed less likely to happen.

I'm not sure if this is possible so it would need to be investigated.

[2017-09-26 07:17] ericmj commented on #417
Ping?

[2017-09-26 07:25] maierru commented on #417
It's work with otp20, I think we can close the issue.

[2017-09-26 07:25] #417 closed

[2017-09-27 14:18] bitboxer commented on #428
We are seeing this here at Wooga, too. Today nobody was able to get any packages from hex.

My config:

[code]

[code]

[2017-09-27 14:20] ericmj commented on #428
If you look at mix.lock how many dependencies do you have?

On Wed, 27 Sep 2017 at 16:18, Bodo Tasche <notifications@github.com> wrote:

--
Eric Meadows-Jönsson

[2017-09-27 15:15] imsearchdev commented on #428
[code]

I agree with @bitboxer We have no issues whatsoever in any of our projects that only use public packages, this definitely seems to be an issue with pulling packages (public and private) when at least one private package is included.

This isn't a timeout issue by the way. The connections fail immediately. If we pull any private repo(s) then the failure rate goes through the roof. I'm happy

[2017-09-27 15:21] ericmj commented on #428
Is it possible the CI server is in a loop? I am seeing ~20 requests/sec for the imsearch organization at times, otherwise I think it might be an issue with how we set up authentication for organizations on the CDN.

[2017-09-27 15:25] imsearchdev commented on #428
We have two places that we run mix.

1. Our CI server which just runs mix.deps
2. A custom build script that we've added a loop to so that we can build our software (runs in AWS and locally)

You may be seeing the retry logic we built into the second bullet point is my guess. It fails so we run mix deps.get again for each dependency multiple times until all the packages are pulled down one at a ti

[2017-09-27 15:41] ericmj commented on #428
Thanks for the clarification that it only happens for private packages. Did it start happening recently or has it been like this since you started using private packages?

I will talk with the support for our CDN and see if they can help investigating.

[2017-09-27 15:46] imsearchdev commented on #428
My anecdotal version is that at first, the failures seemed intermittent. Then they seemed frequent. Now that are constant. Even with our retry logic today, I can't seem to pull down any packages. I'd say the 100% failure rate started sometime in the past 24 hours for us, not earlier.

[2017-09-27 16:22] bitboxer commented on #428
i can confirm this. It started with 20% failure rate and in the last 24h it got up to 100% for private repos.

[2017-09-27 19:37] imsearchdev commented on #428
Our CI build and custom deployment script are working right now. I assume a change was made?

[2017-09-27 21:39] ericmj commented on #428
It should be fixed now. This seems to have been caused by recent changes to our CDN. A flag was has been enabled on our service that gives us the old the behaviour.

Is it working for you 100% of the time now or do you still have the ~20% failure rate?

[2017-09-28 02:27] imsearchdev commented on #428
So far so good, no 20% failure rate. We will keep an eye on this and report back. Thanks!

[2017-09-28 07:11] bitboxer commented on #428
I can confirm this. Works fine now. 100% success rate 👍 .

[2017-09-28 09:46] #428 closed

[2017-09-28 15:47] #427 closed

[2017-09-28 22:04] ericmj commented on #425
Closing this until we get more information to reproduce.

[2017-10-01 22:51] pikeas commented on #296
Recently switched to an umbrella app and noticed this as well. It feels counterintuitive to only see my root-level dependencies, because most of the important deps are inside the apps!

How about `mix hex.outdated --include-umbrella-apps`, with a default value of `false` now, switching to default `true` with Elixir 2.0?

[2017-10-01 23:00] ericmj commented on #296
I think `mix hex.outdated` can just return all umbrella dependencies right now. We don't need a deprecation period.

[2017-10-02 20:01] ConnorRigby commented on #425
I just ran into this issue also.
[code]

[code]

The repository i am trying to publish is here:
https://github.com/FarmBot-Labs/vmq_commons

[2017-10-02 20:11] ericmj commented on #425
I can't reproduce this myself so if one of you that have this issue can run a packet sniffer when publishing, such as Wireshark, and include the output here that would be very appreciated.

You can also try disabling pipelining or keep-alive in the http client by changing these configs to `0` respectively https://github.com/hexpm/hex/blob/master/lib/hex.ex#L37 https://github.com/hexpm/hex/blob/mas

[2017-10-02 20:15] ConnorRigby commented on #425
Tried those modifications, still no go. Will crack wireshark open.

[2017-10-03 18:41] ConnorRigby commented on #425
Tried to get info from wireshark, but since things happen over https, not much useful information..

However I did try publishing this package via a different machine, and it still failed with the same error.

[2017-10-03 18:46] ConnorRigby commented on #425
I'm just now looking, and seeing that the particular package I am trying to publish already exists on Hex. That would probably be the reason I'm getting the error.  i gave a quick search for `flat_json` and it doesn't seem to exist though. I suspect _my_ problem was that there is a package of the same name (managed by `rebar3` if that makes any difference). Thanks for the help. Feel free to close

[2017-10-04 04:12] mjonas87 commented on #46
@ericmj Where can I track the status of the `:repo` option? Definitely would like to know when that goes live. Thanks!

[2017-10-04 04:26] mjonas87 commented on #46
Nvm...found it!

[2017-10-05 22:12] #424 closed

[2017-10-05 22:12] ericmj commented on #424
Also improved in https://github.com/hexpm/hex/pull/419. Thanks @wojtekmach.

[2017-10-05 22:13] ericmj commented on #425
@ConnorRigby Did it work when you published under a different name?

[2017-10-05 22:33] pragdave opened #430 "API change?"
It looks like `Hex.API.Package.search` got changed from taking 1 parameter to taking two.

Any chance we could have the one parameter version back for a while, with deprecation warnings, so I can migrate code that uses it?

Cheers

Dave

[2017-10-05 22:43] ericmj commented on #430
Unfortunately nothing in the Hex project is public API. If you need to access the HTTP API you need to make direct HTTP requests or use a library for it. You can find the documentation for the API here: https://github.com/hexpm/specifications/blob/master/http_api.md.

[2017-10-05 22:53] pragdave commented on #430
Do you know of a library? Otherwise I'm going to copy hex/http and api/package source, which seems a little ugly.

[2017-10-05 22:54] ericmj commented on #430
Sorry no. There might not be one yet.

[2017-10-05 23:06] pragdave commented on #430
Cool.

Thanks for the quick response.

Dave

[2017-10-05 23:06] #430 closed

[2017-10-05 23:19] spirinvladimir commented on #425
Name of a package 📦 should be in valid format:
_"written in snake_case (lowercase with underscores as word separator)."_ by [hex publish docs](https://hex.pm/docs/publish)

❌
[code]

✅
[code]

I've publish my package successfully.
It will be nice to have validator for package name with correct error message.

[2017-10-05 23:21] ericmj commented on #425
We have a validator for package names, but for some reason validation errors seems to result in `505` for you.

[2017-10-05 23:24] ericmj commented on #425
@spirinvladimir https://github.com/hexpm/hexpm/blob/master/lib/hexpm/repository/package.ex#L62

[2017-10-05 23:32] ericmj commented on #425
I can reproduce this now. If there are spaces in the package name we will make an HTTP request with spaces in the URL which is invalid according to the HTTP specification, hence we get the `505 Version Not Supported` response. httpc accepts this URL without errors and url encoding it so we have to do that ourselves.

This explains @spirinvladimir's error but not @ConnorRigby's. @ConnorRigby is it

[2017-10-05 23:32] wojtekmach commented on #430
@pragdave here's a minimal snippet that makes request to API and returns erlang terms:

[code]

this is essentially what `Hex.API` is doing (minus workarounds aroung httpc, retrying logic etc).
If you're building an app, I'd consider _not_ using `:httpc` and instead use e.g. `hackney`, `httpoison` etc. `:httpc` was a big source of bugs in hex.

[2017-10-05 23:35] #425 closed

[2017-10-05 23:37] ericmj commented on #425
@spirinvladimir Thanks for letting me know it worked, it helped me reproduce and I finally made the connection with the spaces in the package name.

[2017-10-06 20:26] #420 closed

[2017-10-06 20:26] wojtekmach commented on #420
Thanks for the report @ivan-kolmychek!

[2017-10-06 23:06] pragdave commented on #430
Many thanks for that.
A suggestion: I’m currently using the API to search for templates in mix_generator. This always runs in the context of mix, and always has hex available and running.
So would it be possible to make API/ first class? I’d be happy to document it, and to help keep it up to date.
For example, the search change could just be
def search(term), do: search(nil, term)
Dave

On Thu, Oc

[2017-10-09 20:33] milmazz commented on #395
@ericmj Is someone working on this?

[2017-10-09 20:33] ericmj commented on #395
@milmazz No, it's up for grabs.

[2017-10-09 22:52] milmazz commented on #395
@ericmj ok, I'll work on this issue.

[2017-10-12 10:04] #395 closed

[2017-10-13 12:10] tmbb opened #435 "Forgetting to include files?"
There is a kind of bug that only shows up when a package is downloaded from Hex. This happens when the package owner forgets to include some files. Everything seems right when the package is tested, because it uses the local code, and bugs only appear when the package is downloaded by someone else. This is not a theoretical concern: https://github.com/elixir-lang/ex_doc/issues/792

I'd like to bri

[2017-10-13 12:54] ericmj commented on #435
Unfortunately none of the solutions you suggested would have helped for the ex_doc bug.

1. As you said a blacklist is not safe because of credentials and it's just as easy to accidentally include useless files as it is to forget to include necessary files.
2. This is not the first time the ex_doc package is published. The first time a package is published it usually doesn't matter if there are bu

[2017-10-13 13:00] ericmj commented on #435
It looks like ex_doc embeds the formatter files, but it doesn't use `@external_resource` which is odd (does @josevalim know why?). If it did use `@external_resource` we could use it to help detect if files used for compilation are not included in the package. This would require compiling in `prod` first which could be annoying for publishing.

[2017-10-13 13:02] tmbb commented on #435
That's not exactly what I've said. The workflow I had in mind was the following:

1. First time the package is published, the author leaves out files `a.txt` and `b.txt`. Hex will ask: "Do you want to leave out files `a.txt` and `b.txt` from the package [yN]?" If the user answers "yes", those files are added to a `.hex_left_out_files`, and hex won't ask about them again.

2. Second version of the

[2017-10-13 13:10] tmbb commented on #435
You could add a new keyword, like `:text_files`, where the user could add the testing directory. Then you'd merge the package with the text directory and run the texts.

Of course, but it would probably help catch many bugs, right? The goal here is not to have a full CI pipeline, only detecting the lack of certain artifacts that might not have been included. If running the tests in `:dev` or `:tes

[2017-10-13 13:43] ericmj commented on #435
This could work but I am not a fan of introducing more dialogues to the publishing process or adding more files to source control that is only used to detect mistakes with package files.

As long as you are running tests you need a full CI environment. How are we supposed to test packages such as ecto without providing multiple variants and versions of databases for example? If you build this serv

[2017-10-13 13:49] tmbb commented on #435
publishing process or adding more files to source control that is only used
to detect mistakes with package files.

Yes, I understand the tradeoff, and I'm not a big fan of that solution
either.

multiple variants and versions of databases for example?

I was thinking about tests that would be run in the owners's, not on your
servers. It would be just a question o running `mix test` in the
develop

[2017-10-13 15:01] wojtekmach commented on #435
developper's own machine.

if you want to build a service/script that automates it, one idea is to have `smoke_test.sh` that you run before publishing and/or on CI:

[code]

[2017-10-13 15:05] wojtekmach commented on #435
if it's just a matter of making sure that all files are present, another solution is to have some kind of manifest file under version control: https://github.com/seattlerb/minitest/blob/master/Manifest.txt and before you release you check if manifest changed.

Probably not appropriate for Hex but could be a fit for tool like https://github.com/wojtekmach/shipit

[2017-10-13 15:11] tmbb commented on #435
So THIS is the package I've been looking for all week! Thanks :)

[2017-10-13 15:46] josevalim commented on #435
@wojtekmach beautiful, I have added your script to ex_doc but having something like that as part of Hex could really be helpful. :heart:

[2017-10-13 15:52] Gazler commented on #435
This same issue tripped me up when publishing cowlib 2.0 as it added a new file in the `include` directory that was not present in `:files`. I picked it up doing a manual test afterwards. @wojtekmach that script would have definitely found it before pushing!

[2017-10-13 15:53] ericmj commented on #435
@josevalim It's tricky to include in Hex because every package's smoke test is different. Exdoc is convenient because it's just `mix docs`, I have no idea what the smoke test would be for Ecto though.

The only thing we can do from is make it easier to extract a built package, maybe `mix hex.extract`? Although I don't want to add more tasks :).

@Gazler How would you run a smoke test for cowlib?

[2017-10-13 15:55] Gazler commented on #435
@ericmj checking it compiles would have been sufficient in my case. I did a manual test with an existing application when I published it last time.

[2017-10-13 15:57] ericmj commented on #435
Maybe we could add `mix hex.build --smoke "mix docs"`?

[2017-10-13 16:07] josevalim commented on #435
@ericmj I think `mix hex.build --extract-to dir` that builds a package in memory and then extracts the contents to the given dir is enough, because then I just need to `cd` into it and run my smoke test.

Another idea is to do it in publish. `mix hex.publish smoke "mix compile"` or `mix hex.publish smoke directory`.

[2017-10-13 16:28] wojtekmach commented on #435
yet another option is to have `hex.build --smoke ""` (which you can run on CI) and `hex.publish --smoke ""` (which will pass the option down to build). Nice thing about having this on publish is you could have an alias:

[code]

That being said, `mix hex.build --extract-to dir` and having user write a custom script seems like a simple solution that might be useful elsewhere too

[2017-10-13 17:35] ericmj opened #436 "Add mix hex.build --smoke"
`mix hex.build --smoke` would run the equivalent of: (from @wojtekmach)

[code]

`mix hex.build --smoke "mix docs"` would also run a command after compilation.

To use it on publish the `hex.publish` task has to be aliased.

[2017-10-13 17:35] ericmj commented on #435
See #436.

[2017-10-13 17:35] #435 closed

[2017-10-13 17:38] josevalim commented on #436
Does it still produce an artifact? It is weird that --smoke sets the --quiet flag though. Better if the user sets both.

[2017-10-13 17:39] ericmj commented on #436
The smoke test should not produce an artifact. You're right, the user should set `--quiet`.

[2017-10-16 14:41] ericmj commented on #429
We cant keep newer parts that we don't know about because we have no idea if they should change or stay the same. Only sane thing to do is to drop them, but with #438 we wont drop them silently at least.

[2017-10-18 20:26] mobileoverlord opened #439 "Allow dot files to be published"
When hex assembles a list of files to publish based off the expanded paths it omits any files that begin with `.`. This is because the option `:match_dot` is not enabled on the wildcard search at
https://github.com/hexpm/hex/blob/master/lib/mix/tasks/hex.build.ex#L277

Changing it to
`Path.wildcard(Path.join(path, "**"), match_dot: true)` fixes my issue, but I know that its going to break the beha

[2017-10-18 20:36] ericmj commented on #439
I think we should include dot files by default. If anyone wants to exclude them they can still explicitly list the files they want to include or use `Path.wildcard` themselves.

[2017-10-18 21:20] #429 closed

[2017-10-20 13:54] #436 closed

[2017-10-21 11:10] #439 closed

[2017-10-27 23:46] josevalim opened #447 "Function clause error on invalid requirement"
When I defined an invalid requirement in my deps:

[code]

I got a function clause error:

[code]

Some info:

[code]

It is likely broken because of this commit: https://github.com/elixir-lang/elixir/commit/824b26842052fc9f92a1916995ee91d5ef1c86e8#diff-32f7cb190f9e0e7f5bdd6326d7aad69d

[2017-10-27 23:55] wojtekmach commented on #447
This is fixed in 0.17, please upgrade!

[2017-10-27 23:55] #447 closed

[2017-10-27 23:59] #412 closed

[2017-10-28 00:01] josevalim commented on #447
*on the tune of take on me*

Shaaaaaaaaame ooonnnnnn meeeeeee
(shame on me)
Shaaaaaaaaame meeeeeee ooooooon
(shame on me)
I'll upgraaaaaaade
In a day or twooooooooooooo

[2017-10-28 00:04] wojtekmach commented on #447
shame on me for the regression 🙊 have a good weekend!

[2017-10-28 00:18] josevalim opened #448 "mix hex.audit fails if the dependency was not yet fetched"
Steps to reproduce:

1. Add `{:distillery, "1.3.3"}` to a mix.exs
2. Run `mix hex.audit` before running `mix deps.get`

[2017-10-29 19:31] #394 closed

[2017-10-29 19:31] #448 closed

[2017-10-29 19:54] ericmj commented on #365
Fixed in https://github.com/hexpm/hex/commit/a24e78e98e396fc24d4c9761307776f6f7414ef1.

[2017-10-29 19:54] #365 closed

[2017-11-02 14:51] wojtekmach commented on #261
we should probably also have a task to manually download a package (which was recently mentioned on Slack), e.g.:

[code]

and a task similar to `mix hex.vendor copy` mentioned in https://github.com/hexpm/hex/issues/304#issuecomment-257230683

[2017-11-02 14:54] ericmj commented on #261
Yeah, after we implement local packages we can add `mix hex.download` and then add the vendor tasks if we feel they are needed.

[2017-11-02 15:11] josevalim commented on #261
My main interest in such a task was for testing but with the smoke stuff now in hex.build I am probably happy with the way things are.

[2017-11-02 15:25] josevalim opened #452 "Replace mix hex.build --smoke by more granular commands"
The --smoke flag is probably doing too much. My suggestion is to introduce two new flags, `--output` (aliased to `-o`) that choses the name of the output file and `--unpack` which means the contents will be a directory:

    mix hex.build
    #{app}-#{vsn}.tar

    mix hex.build -o foo.tar
    foo.tar

    mix hex.build --unpack
    #{app}-#{vsn}/

    mix hex.build --unpack -o foo
    foo/

Then

[2017-11-02 15:35] ericmj commented on #261
I agree there's less need for this feature now, but it would still be a nice thing to have. Closing this but if someone wants to contribute it feel free of course.

We need a download task because it's difficult for users to manually download private packages today since you can't just `wget` the URL.

[2017-11-02 15:35] #261 closed

[2017-11-02 15:36] ericmj opened #453 "Add hex.download task"
From: https://github.com/hexpm/hex/issues/261#issuecomment-341446177

[code]

[2017-11-02 15:46] josevalim commented on #453
I recommend to also support the `--unpack` flag proposed for hex.build on #452. Not sure if you want to have `-o` here though or add `--to` to `hex.build`.

[2017-11-02 16:08] ericmj commented on #453
Using `-o` makes sense, I will update the issue.

[2017-11-05 09:38] josevalim opened #454 "Simplify Hex output on deps.get"
I am wondering if we can simplify Hex output when we use deps.get. Today we print this:

[code]

We could probably do:

[code]

You may also be able to put the version on (Hex package)

[code]

Thoughts?

[2017-11-07 20:52] mgartner opened #455 "Simplify organization commands"
I'm finding the process of setting up access to private packages unnecessarily confusing. In particular, I don't see any benefit from having an additional step of running `mix hex.organization auth NAME`. As long as the user has logged-in with `mix hex.user auth` and they have access to the organization, then they should be able to read/write packages.

Is there a technical reason why `mix hex.org

[2017-11-07 21:16] josevalim commented on #455
Isn't this an apples to oranges comparison in the sense that none of them require the user name to be given? After all, you don't authenticate an organization, you authenticate a user inside an organization. Or do you mean we should have a prompt that asks the organization name?

I think however that the commands should avoid using NAME since it is ambiguous, `mix hex.organization auth ORGANIZATIO

[2017-11-07 21:34] ericmj commented on #455
I also don't understand what the difference is here. The reason we have the name on the command line for organizations is because you have to be able to run it in scripts which is necessary for build/CI servers. The reason user authentication prompts is because your username and email can potentially be private and not something you want persisted in your shell history.

:+1:

I think we can do th

[2017-11-07 21:36] ericmj commented on #455
Another solution would be to create a permission level for keys where the key has access to all repositories the user is a member of. This is less secure but may be acceptable for the convenience of not having to manually authenticate orgs you have been added as a member to.

[2017-11-07 22:36] mgartner commented on #455
Can you explain why this is less secure?

In my mind permissions and access levels should be managed on the server side. From the client perspective, all I should have to do is verify that I am me, with my username/email and password. Once I am authenticated as a user, hex.pm should be deciding what packages and organizations I can read or write from.

Can you explain more about this? Is this a si

[2017-11-07 22:46] ericmj commented on #455
Say that you are a member of two organizations, one is SuperSecretAgency and the other is NotReallySecretOrg. If someone manages to gain access to your NotReallySecretOrg key they also gain access to SuperSecretAgency.

Permissions are managed on the server side, the only thing the client sees are opaque key strings. The problem is storing a plaintext key on your machine that forever gives you acc

[2017-11-07 23:01] mgartner commented on #455
What if when I run `mix hex.user auth`, the server issues me an API key that I can revoke at any time from the web UI?

Given that publishing is a relatively infrequent command, maybe require a password for this command, and the key only grants read permission?

[2017-11-07 23:05] ericmj commented on #455
That doesn't really solve the problem, you can already revoke your keys, and it assumes you know when your key is stolen.

We already have this. We have one publish key that requires a password and one read-only key that does not require password. What's the practical difference between your proposal and what I proposed above?

[2017-11-07 23:20] mgartner commented on #455
Sorry I misunderstood your earlier comment then.

I guess you have to decide that keeping read-only access separate if a user key is stolen is worth the added steps and confusion of multiple logins. Given that these keys are all stored in the same file anyway (I think), wouldn't it be likely that if 1 was stolen, then more would be as well?

Btw, thanks for filling in some of the technical details

[2017-11-07 23:29] ericmj commented on #455
They will probably all be stolen but the publish key will likely be unusable since it's encrypted with the user's passphrase.

No worries at all, I am very happy for all feedback on organizations, that's why we have the beta. Hopefully the changes I proposed above will make it less cumbersome.

I will summarize my proposed changes:

* Create a new key type on the backend with a permission level th

[2017-11-07 23:30] ericmj commented on #455
In the future we should also give keys a maximum lifetime with automatic renewal to alleviate some of the security concerns I raised, but this is a separate and much bigger task.

[2017-11-10 06:27] zw0 opened #456 "HEX_MIRROR not work?"
docker build log

[code]

`Step 5/9 : RUN HEX_MIRROR=https://cdn.jsdelivr.net/hex  mix do hex.config, deps.ge`
This set `HEX_MIRROR` but hex not work

[code]

my dockerfile   config

[code]
or

[code]

[2017-11-10 07:08] zw0 commented on #456
and

[code]

[2017-11-10 09:14] ericmj commented on #456
This bug should be fixed in master.

[2017-11-10 09:21] #456 closed

[2017-11-10 09:29] zw0 commented on #456
how to use master hex?

my hex version

[code]

[2017-11-10 09:52] ericmj commented on #456
Clone this repository and run `mix install` in it.

[2017-11-14 09:03] wojtekmach commented on #454
Closed by https://github.com/hexpm/hex/pull/457

[2017-11-14 09:03] #454 closed

[2017-11-14 09:05] ericmj commented on #454
This is perfect, thank you!

[2017-11-20 11:37] madshargreave opened #459 "Documentation for private packages?"
Hi

I am trying to publish a library under an org, but I get this error

[code]

Can it be true that private packages does not support docs?

[2017-11-20 11:52] wojtekmach commented on #459
That's right, we don't allow to publish docs for private packages yet but its on the roadmap in https://github.com/hexpm/hexpm/issues/537. It's a bit tricky because all content on hexdocs.pm is public, however we need to protect docs for private packages by auth.

You can publish package without docs by doing: `mix hex.publish package`

[2017-11-20 11:52] #459 closed

[2017-11-20 12:05] madshargreave commented on #459
Thanks for the quick response

Is there any ETA on this functionality?

[2017-11-20 13:31] ericmj commented on #459
The billing functionality will ship around the end of the year, after billing is out private documentation is the top priority.

[2017-11-20 13:33] madshargreave commented on #459
Thanks, looking forward

[2017-11-24 08:15] bitboxer opened #460 "password vs passphrase"
Short question:when I use `mix hex.user auth` I am asked for my "Password". When I am using `mix hex.organization auth XXX` it asks me for my "passphrase". Shouldn't this be password for both? This is a bit confusing right now.

[2017-11-24 08:55] ericmj commented on #460
Passphrase is the local password used to encrypt your API key. Password is the server account password used to generate a new API key when you run `mix hex.user auth`. See: https://github.com/hexpm/hexpm/issues/588

[2017-11-24 09:00] bitboxer commented on #460
Okay, thanks. Will follow that ticket.

[2017-11-24 09:00] #460 closed

[2017-11-25 11:31] #452 closed

[2017-11-25 21:26] wojtekmach opened #465 "Add html_url to /api/users/me owned_packages payload"
We need to return `html_url` to use it in `mix hex.owner packages` [1]

This is tricky as currently it's a map:

[code]

and so changing the shape will break clients. I think we could depreacate `owned_packages` in API payload and introduce `packages` which is a list of maps. Any other options?

[1] https://github.com/hexpm/hex/blob/v0.17.1/lib/mix/tasks/hex.owner.ex#L123

Edit: ugh, I was meaning

[2017-11-26 16:41] #296 closed

[2017-11-26 16:41] ericmj commented on #465
Maybe introduce `owned_packages_html_urls` as a separate field?

[2017-11-26 16:45] wojtekmach commented on #358
Should we still look into using post_converge hook, or what we merged in https://github.com/hexpm/hex/pull/461 is enough? Personally I think it's good enough right now: much less output in the usual case and so the warning at the top should be much more visible.

[2017-11-27 21:27] milmazz commented on #453
I'll work on this :)

[2017-11-30 20:53] sebastialonso commented on #428
I'm having the same issue, today. I'm running Phoenix apps on docker

[code]

Is it possible that my internet connection is the issue?

[2017-12-04 17:57] pma opened #468 "Dependencies are not fetched"
Hi,

There is an issue with the `amqp_client` lib published hex.pm, where all the dependencies are resolved but only the direct dependency is fetched. `amqp_client` depends on  `rabbit_common` and `recon` and these are not fetched.

I'm submitting here as well because it could be related to the fact that amqp_client uses erlang.mk as the build tool and it could be something affecting all similar h

[2017-12-04 23:29] ericmj commented on #468
Leaving this open to see if we can test this easier from the Hex side.

[2017-12-06 13:16] nirmannarang opened #469 "Getting amqp (Hex package) ** (ArgumentError) argument error"
While running **make all** step for RabbitMQ Server 3.7.0, I am getting the following error:

`Putting child 0x95a5d000 (escript/rabbitmqctl) PID 20257 on the chain.
Live child 0x95a5d000 (escript/rabbitmqctl) PID 20257
 GEN    escript/rabbitmqctl
Resolving Hex dependencies...
Dependency resolution completed:
  amqp 0.2.4
  csv 2.0.0
  dialyxir 0.5.1
  json 1.0.2
  parallel_stream 1.0.5
  simetric

[2017-12-06 13:18] josevalim commented on #469
What is your Elixir and Erlang versions? Can you please run `mix hex.info` and paste the output here?

[2017-12-06 13:19] nirmannarang commented on #469
`Hex:    0.17.1
Elixir: 1.5.2
OTP:    20.0

Built with: Elixir 1.5.1 and OTP 18.3
`

[2017-12-08 07:41] nirmannarang commented on #469
@josevalim Any update on what could be wrong here?

[2017-12-08 08:39] josevalim commented on #469
Thanks for the info, @nirmannarang. We have no news for now, once we do, we will post them here.

[2017-12-08 09:42] ericmj commented on #469
@josevalim Is this the same error that happens when you compile with an Elixir that doesn't support the regex changes in OTP20?

It shouldn't happen since we built with Elixir 1.5.1 though...

[2017-12-08 09:43] ericmj commented on #469
@nirmannarang Can you show us steps to reproduce the error? What project are you running this and what commands are you running.

[2017-12-08 15:01] twajjo commented on #428
I have the same issue and have had it for about 3 days now:
[code]

[2017-12-08 18:30] ericmj commented on #428
The bad error message is fixed in master. But if you have high failure rate then it's probably an issue with your network or an issue with the network primitives in OTP.

We are working on a new HTTP client that will, among other things, change the timeout from a fixed time for the whole request to a timeout since last byte received. This may improve things for some of you but creating a new HTTP

[2017-12-10 21:36] Zenohate opened #471 "Augment or allow to set the timeout of hex http requests"
I work over satellite broadband, and because my ping is extremely high, downloading packages through hex is considerably difficult.

A nice improvement would be either to allow for a longer timeout delay or to make it configurable at runtime or though environment variable.

-----
Thank you all for your hard work, Hex makes the ecosystem around Erlang VM a nice and happy place! You make my day ever

[2017-12-10 22:34] ericmj commented on #471
In the next version you can configure this through `http_timeout` in the config or `HEX_HTTP_CONCURRENCY` as system environment variable.

[2017-12-10 22:34] #471 closed

[2017-12-10 22:43] Zenohate commented on #471
Thank you a lot, sorry for the inconvenience!

[2017-12-11 12:01] nirmannarang commented on #469
@ericmj
#Built and Installed Erlang OTP 20.0 from source

#Built and installed elixir
git clone https://github.com/elixir-lang/elixir
cd elixir
git checkout v1.5.2
make
sudo make install

#Build RabbitMQ Server 3.7.0
wget https://github.com/rabbitmq/rabbitmq-server/archive/v3.7.0.tar.gz
tar xf v3.7.0.tar.gz
cd rabbitmq-server-3.7.0
make all

It fails at **make all** step.

[2017-12-11 14:33] ericmj commented on #469
I cannot reproduce this error. This regex error usually means that you are using an Elixir version that is not compatible with OTP 20 or using Elixir code that was built an incompatible Elixir version. Make sure you are using OTP 20, Elixir 1.5.2 and Hex 0.17.1.

[2017-12-12 09:22] nirmannarang commented on #469
@ericmj
It is strange to me too as Elixir, Hex, OTP versions which I am using are all compatible.
Can you please direct me to the issue you know about? Maybe I can make some changes to get the build successful, at least.

[2017-12-12 09:38] ericmj commented on #469
I looked around but it doesn't seem to be really documented anywhere. With OTP 20 the way we precompile regexs during compilation broke because OTP updated the regex version they are using. This means that regexs compiled with OTP 19 did not work with OTP 20 and vice versa. We fixed this in Elixir 1.5.0.

I think this is the issue you are seeing but you shouldn't be getting it with the versions yo

[2017-12-21 17:15] binarylogic opened #472 "`mix deps.get` is _incredibly_ slow for umbrella projects"
We have an umbrella project with approximately 15 applications, executing `mix deps.get` at the root of the umbrella project takes over 20 minutes to complete. Is this a known issue for umbrella projects? How can I inspect further to determine exactly where the slow down is occurring? Is there anything I can provide to assist in debugging?

Thanks!

[2017-12-21 17:24] binarylogic commented on #472
I've resolved the issue. It appears to be an issue with `0.15.X`. Upgrading to `0.17.X` resolved the issue for me.

[2017-12-21 17:24] #472 closed

[2017-12-21 18:53] ericmj commented on #472
Great to hear that, there has performance improvements in the dependency resolver between 0.15 and 0.17.

[2017-12-24 12:14] reezer commented on #428
Reducing the concurrency appears to be a way to work around this issue. `mix hex.config http_concurrency 1`

[2017-12-27 01:50] rockerBOO opened #474 "Unpacking inner tarball failed (Windows)"
Hello,

I am currently running into issues getting dependencies on Windows. Getting the following error and not finding any information about what might be causing it. I know there is a pull request for rebuilding `Hex.Tar` so maybe this is related or will be fixed with that.

****(Mix) Unpacking inner tarball failed: invalid argument**

[code]

[code]

[2017-12-27 10:00] ericmj commented on #474
Can you try to narrow down which package is causing this error?

[2017-12-27 11:45] rgrativol commented on #474
Same here.

* Updating ecto (Hex package)
  Checking package (https://repo.hex.pm/tarballs/ecto-2.2.7.tar)
  Fetched package
** (Mix) Unpacking inner tarball failed: invalid argument

I think it is a Windows problem.

[2017-12-27 12:50] rockerBOO commented on #474
Getting this error on various packages. I individually went through my dependencies (setting only 1 deps active) and got the following list of errors. Thanks 😄

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[2017-12-29 10:23] ericmj commented on #474
When did this start happening for you, after updating Hex, Elixir or maybe OS update?

I don't have a Windows computer so it's hard for me to investigate. If you want to help investigate, the error is raised here: https://github.com/hexpm/hex/blob/master/lib/hex/tar.ex#L124.

[2018-01-02 20:08] twajjo commented on #428
Thank you @ericmj & @reezer, Eric is correct, our network is really a problem, particularly the proxy, but even with the proxy set up properly, we still see the problem, so I will be trying what reezer suggested to see if the number of errors can be reduced.

One key bit of information is that the hex package being pulled (in this case, hexpm/ex_doc) is not always the same and can be changed by ei

[2018-01-03 20:14] ericmj opened #476 "Prompt for organization authorization when running deps.get"
Today you have to run `mix hex.organization auth acme` before fetching private packages. If you haven't done so the error message will be confusing. When trying to fetch a package from an organization the user haven't authed we should prompt for the passphrase and try to automatically authorize the organization.

[2018-01-04 20:36] #476 closed

[2018-01-05 01:20] ttoomes commented on #474
I was having the same issue, and narrowed it down to trying to run a project on a flash drive. I was trying to build a project on an SD card when I first had the issue. Moving the project to an internal drive resolved the issue. I've replicated the issue on three different PCs running Windows 10 with different flash drives and SD cards (with exFAT and FAT32 file systems).

I'm not sure if there's

[2018-01-05 03:34] rockerBOO commented on #474
Yes I can confirm this issue only seems to occur on the FAT32 drive I have. On NTFS it works properly. I can't seem to quickly make a test case that fails for FAT32.

The following works on both FAT32 and NTFS.
[code]

[2018-01-05 10:38] #468 closed

[2018-01-05 10:54] ericmj commented on #358
Let's go with what @wojtekmach added in #461 for now. We can reevaluate later if we need to print in post converge but I would like to avoid it unless necessary because it brings additional global state we need to manage.

[2018-01-05 10:54] #358 closed

[2018-01-05 10:57] #465 closed

[2018-01-05 12:45] ericmj commented on #455
As a first step we have added prompts when we detect that we require authentication we ask for the credentials immediately instead of telling the user to run `mix hex.user auth` or `mix hex.organization auth`.

This should make the workflow better and cause less interruptions. We are still discussing if we want to create a single key for all organizations. Another possible solution is to create se

[2018-01-05 17:49] mgartner commented on #455
Awesome! 👍

[2018-01-06 17:49] michaelstalker commented on #374
Although I could download `.tar` packages to cache them, raising the timeout would be helpful. Would you consider re-opening this issue?

[2018-01-07 06:17] supersimple opened #480 "Show if a package is retired in hex.info"
When using `mix.info packagename version` it would be useful to show an alert that the version has been retired (and possibly also the reason for retirement.)

When using `mix.info packagename` perhaps just color the retired versions in red.

[2018-01-07 06:19] supersimple commented on #480
I am happy to submit a PR for this as soon as it is determined to be valuable.

[2018-01-07 13:31] ericmj commented on #374
We have raised the timeout to 60 seconds and you can configure your own timeout value. Check out `mix help hex.config`.

[2018-01-07 13:44] sashaafm opened #481 "NPM missing packages and private Hex server"
As you probably know, yesterday NPM had a major problem with disappearing packages as can be seen in this Hacker News [thread](https://news.ycombinator.com/item?id=16087024). Although I haven't fully understood what was the root cause of the problem yet (I believe they haven't published a post mortem yet), I've noticed several people claiming that some "trolling"/malicious packages were published

[2018-01-07 13:54] ericmj commented on #480
Yeah, that would be a great addition.

[2018-01-07 14:28] wojtekmach commented on #481
Hello @sashaafm!

Yes, it' protected, see e.g. this comment https://github.com/hexpm/hexpm/issues/277#issuecomment-201962939. For the time being we still allow a 1h window to re-publish or revert packages, see: https://github.com/hexpm/hexpm/issues/197 but we'll likely eventually remove that. Moreover, each package includes a checksum (stored in `mix.lock`) to ensure you're always downloading the

[2018-01-07 14:38] sashaafm commented on #481
Thank you for your clarification. Indeed I was forgetting about the checksum in `mix.lock`, my bad.

Private packages seem to be a good middle-ground to solve this kind of issues. Very happy to see Hex is ahead of other package managers in this regard.

Thanks a lot @wojtekmach

[2018-01-07 18:12] supersimple commented on #480
@ericmj  I have opened a PR for the `hex.info packagename version`
For the `hex.info packagename` version, I think it would be best to change the response from the API.
[code]
I would propose adding a retired flag to the map. The only other way to get retired info on a version would be to iterate over each version returned in this call and check it's info. That could mean a lot more network reques

[2018-01-07 18:36] wojtekmach commented on #480
we initially decided to keep retirement information out of `/api/packages/:name` payload to keep it smaller (a bit more context in https://github.com/hexpm/hexpm/pull/454#issuecomment-336582134), but I agree that in this particular case it would be useful. Yet another way would be to somewhat mimic the registry and have it under a separate key, so:

[code]

wdyt @ericmj?

[2018-01-07 22:46] ericmj commented on #481
We got some more details from NPM: http://blog.npmjs.org/post/169432444640/npm-operational-incident-6-jan-2018, but until they release the full technical details it is hard to comment on this.

This seems to have been caused by tooling that tries to prevent spam, fortunately we do not have spam issues on Hex.pm since we do not operate on the same scale as NPM. We do not have automatic tooling that

[2018-01-08 22:14] michaelstalker commented on #374
Thanks! I don't think this change made it into the `0.17.1` tag, which is the most recent one. Would you be willing to bump the minor or patch version, and include the timeout code?

[2018-01-08 22:15] ericmj commented on #374
We are going to release a new version within the coming days. In the mean time you can use master by cloning this repo and running `mix install`.

[2018-01-11 00:00] ericmj commented on #455
We also automatically auth all your organizations when you run `mix hex.user auth` now. We will see how this works for now and then review later and see if we need to make other improvements. Thanks for your feedback.

[2018-01-11 00:00] #455 closed

[2018-01-11 13:39] OnorioCatenacci commented on #474
I'll see what I can do Eric.

[2018-01-11 13:43] OnorioCatenacci commented on #474
@rockerBOO and @ttoomes Can you find your exact version of Windows 10 so I can try to repro this issue on the same version of Windows if possible?  For example if I run "ver" from a command prompt I get this:

Microsoft Windows [Version 10.0.15063]

Could both of you do the same and post the result to this thread?

[2018-01-11 14:30] rockerBOO commented on #474
`Microsoft Windows [Version 10.0.15063]`

[2018-01-11 16:35] ericmj commented on #481
NPM published a more detailed incident report: http://blog.npmjs.org/post/169582189317/incident-report-npm-inc-operations-incident-of.

It's hard to protect against human errors so when deleting packages starts to become a common support task we will have to implement detailed procedures on how to delete packages. We have also made the policy stricter for deleting packages so that now we will no l

[2018-01-11 16:35] #481 closed

[2018-01-11 20:06] OnorioCatenacci commented on #474
I just gave this a quick try (`mix phx.new test2`) on my windows box and I didn't see an issue.  Couple of obvious differences though:

1.) I'm pretty sure my drive is NTFS.  I need to see how to confirm that.

2.) I tried it with 1.6.0-rc1.  If it is a Windows issue, then using 1.6.0-rc1 (vs. 1.5.3) shouldn't make a difference but it is different.  I can revert to 1.5.3 to try it too.

In other w

[2018-01-11 22:26] wojtekmach commented on #480
@supersimple let us know if you'd like to finishing up this issue by handling `mix hex.info pkg version` :) (requires https://github.com/hexpm/hexpm/issues/607)

[2018-01-11 22:27] rockerBOO commented on #474
To get your file system right click on the drive and go to Properties. Should be listed there.

[2018-01-11 22:33] supersimple commented on #480
@wojtekmach I am not familiar with how/where to make those changes in teh API. If those are made (i assume in hexpm) I am happy to implement the use of them in hex.

[2018-01-11 22:42] wojtekmach commented on #480
@supersimple here are some pointers for API:
- https://github.com/hexpm/hexpm/blob/master/lib/hexpm/web/controllers/api/package_controller.ex#L32
- https://github.com/hexpm/hexpm/blob/master/lib/hexpm/web/views/api/package_view.ex#L15
- https://github.com/hexpm/hexpm/blob/master/test/hexpm/web/controllers/api/package_controller_test.exs#L80

a PR would be appreciated, but I'm also happy to work on

[2018-01-11 22:48] supersimple commented on #480
Great. I'll look at it today.

[2018-01-11 22:48] supersimple commented on #480
Great. I'll look at it today.

[2018-01-11 23:32] OnorioCatenacci commented on #474
Yeah it’s NTFS
On Thu, Jan 11, 2018 at 5:27 PM Dave Lage <notifications@github.com> wrote:

[2018-01-12 13:35] wojtekmach commented on #453
Closing in favor of PR

[2018-01-12 13:35] #453 closed

[2018-01-15 23:05] wojtekmach commented on #480
Done in #487

[2018-01-15 23:05] #480 closed

[2018-01-16 15:24] OvermindDL1 commented on #474
Only have NTFS here and I've ran those commands a few times up to 1.5.* without issues.  Do I need to try it in 1.6?  (Thankfully my primary development environment has finally finished converting to linux when the server running software did too so I've not done much Elixir on Windows after 1.5.)

[2018-01-16 15:30] wojtekmach commented on #474
@OvermindDL1 what OTP version are you using? Could you try on 20.1 or 20.2?

[2018-01-16 15:43] OvermindDL1 commented on #474
Checking...
Windows currently has Elixir 1.5.0 with OTP 19 (erts-8.2).  I can try updating OTP and updating to Elixir 1.5.1.  Hold on...

[2018-01-16 16:16] OvermindDL1 commented on #474
Using OTP 20 (erts-9.2) with Elixir 1.5.3, following precisely the same steps and commands as the OP shows no issues with acquiring the packages or extracing the tarballs (also compiled the deps just to make sure).

[2018-01-17 20:05] milmazz commented on #474
@ericmj @wojtekmach I'll further investigate this problem, so far I found the following:

In a `vfat` partition on Windows I did:

[code]

That's the reported error, going deeper we find the following:

[code]

[2018-01-17 20:14] wojtekmach commented on #474
@milmazz thank you, this is most helpful! Does `parent_dir` exist before you try to unpack? If not, could you create beforehand? Or, unpack to an empty existing directory etc?

[2018-01-17 20:17] milmazz commented on #474
@wojtekmach Yes, `parent_dir` already exists, that directory contains the file `earmark-1.2.4.tar` among others.

[2018-01-17 20:18] wojtekmach commented on #474
ah, right. How about unpacking to existing empty or non-existing directory?

[2018-01-17 20:22] milmazz commented on #474
@wojtekmach Same result in both cases.

[2018-01-17 20:27] wojtekmach commented on #474
couple more ideas:
1. `einval` error is possibly related to permissions [1] [2] (but might be just a catch-all error as well), could you double-check permissions in the directory you're extracting to?
2. could you try creating a package & unpacking (e.g. using `mix hex.build --unpack` :-)`), perhaps it doesn't handle packages built on different OS for some reason?

btw, are you testing on latest (

[2018-01-17 20:47] milmazz commented on #474
1. Already checked that I have permissions under that directory, but I did it again: `File.touch!(Path.join(parent_dir, "something"))` works as usual.
1. `cd /e/elixir/ex_doc && mix hex.build --unpack` returns the same message: `** (Mix) Unpacking inner tarball failed: invalid argument`

I'm working with `Hex v0.17.3-dev`

[2018-01-17 23:27] wojtekmach commented on #474
ok, I got access to a windows 7 box and I'm able to reproduce this on elixir 1.6, otp 20.2, FAT partition. On NTFS it works fine.

Minimal repro:

[code]

[code]

so it looks like it's a problem with our vendored hex_erl_tar. I'll try to get a fix in in a few days. Thanks everyone for helping with debugging this!

[2018-01-20 05:21] supersimple opened #490 "Publishing to private repo dialog says it is publishing to hexpm"
Using hex 0.17.3
[code]

[2018-01-20 05:30] supersimple commented on #490
It looks like the code is just looking for the organization in the mix.exs file. The flag still suffices to push to the private repo though.
Any thoughts on how you want that handled?
My first impression is that we could use the flag as authority in `hex.publish.ex`
Alternately, we could throw a warning if the flag is included, but the metadata for organization is not included in the mix file.

Th

[2018-01-20 12:22] #490 closed

[2018-01-24 09:20] Pjino opened #494 "Package counter in the website stoped counting"
Sorry if this is not the proper place but I'm under the impression that it has stopped counting a while ago...
Best regards,

[2018-01-24 10:44] ericmj commented on #494
Thanks for lettings us know, it has been fixed now. A hardcoded number slipped into the code after some testing.

[2018-01-24 15:51] Pjino commented on #494
:) Thank you for your prompt answer!

[2018-01-24 15:52] #494 closed

[2018-01-29 12:33] #474 closed

[2018-01-31 11:47] michalmuskala opened #498 "Noisy crash on server timeout"
There were some intermittent issues with the server today and the crash was pretty nasty. It should be possible to fail gracefully in this situation.

[code]
and
[code]

[2018-01-31 13:40] ericmj commented on #498
What hex version are you using? (`mix hex.info`)

[2018-01-31 13:48] michalmuskala commented on #498
[code]

[2018-01-31 13:55] ericmj commented on #498
It should be fixed on 0.17.3. It will print something like this:

[code]

[2018-01-31 13:55] #498 closed

[2018-01-31 13:57] michalmuskala commented on #498
Awesome. I'm sorry for creating the noise on this.

[2018-02-01 15:07] onfiro commented on #469
Hey! I have similar ptoblems when build RabbitMQ  3.7.0 from source.
Hex:    0.17.3
Elixir: 1.6.1
OTP:    20.1

Built with: Elixir 1.5.3 and OTP 18.3

[2018-02-02 10:43] CarpeNoctem opened #499 "mix hex.info showing retired version on Config line"
### Environment

- Erlang/OTP 20 [erts-9.2] [source] [64-bit] [smp:4:4] [ds:4:4:10] [async-threads:10] [hipe] [kernel-poll:false]
- Elixir 1.5.2
- Ubuntu 16.04.3 LTS xenial, x86_64

### Current behavior

Run `mix hex.info postgrex`
Note that the Config line differs from what is shown on https://hex.pm/packages/postgrex
as it shows a retired version `{:postgrex, "~> 1.0.0-rc.1"}` instead of `{:post

[2018-02-02 11:45] ericmj commented on #499
We can reimplement the behavior on hex.pm, which is show the latest version that is not retired and not a pre-release. Or we can add this information to the hex.pm API and the client will just use that information.

[2018-02-02 11:58] michalmuskala commented on #499
I think adding this information to API will be a better solution - otherwise most tools integrating with the API would need to reimplement this logic.

[2018-02-02 12:05] wojtekmach commented on #499
we've recently added `retirements` key to the server:

[code]

so we have all the information we need on the client to calculate "latest non-retired" release.

[2018-02-03 10:10] #499 closed

[2018-02-07 05:44] supersimple opened #501 "Typo-squatting does not seem to be working"
<img width="368" alt="screen shot 2018-02-06 at 10 40 38 pm" src="https://user-images.githubusercontent.com/773380/35900372-dfe3dc68-0b8e-11e8-9824-8eea8d50a585.png">

As part of a project I am working on, I wanted to show how hex prevents typo squatting. I thought their was a typo check that prevents packge names with a levenstein distance of 2 or less. As you can see, this package I published ha

[2018-02-07 09:09] ericmj commented on #501
The typo check runs once every 24h and requires review by an admin since not all names with a levenstein distance <2 are typo squats.

[2018-02-07 17:30] supersimple commented on #501
TIL - I thought that was happening at publish time.

[2018-02-07 17:30] #501 closed

[2018-02-08 13:16] ajaygtm71 commented on #469
Facing similar issue on rabbitmq 3.7.3 with hex.info as
Hex:    0.17.3
Elixir: 1.6.1
OTP:    20.0.4

Built with: Elixir 1.6.1 and OTP 20.0.4

output:
Dependency resolution completed:
  amqp 0.2.4
  csv 2.0.0
  dialyxir 0.5.1
  json 1.0.2
  parallel_stream 1.0.6
  simetric 0.2.0
  temp 0.4.4
* Getting json (Hex package)
** (ArgumentError) argument error
    (stdlib) re.erl:734: :re.run("https://rep

[2018-02-11 09:01] josevalim opened #502 "Improve mix hex.docs"
Today the offline flag is a bit hidden, even though it is the main use case for hex.docs. My suggestion:

  * `mix hex.docs fetch PKG VERSION` - no changes
  * `mix hex.docs online PKG VERSION` - same as `open` today
  * `mix hex.docs offline PKG VERSION` - same as `open --offline` today

It would also be nice if `mix hex.docs` was made "project" aware. `mix hex.docs fetch` with no name could down

[2018-02-11 10:35] michalmuskala commented on #502
I started work on the second thing you mention - considering the version used in the current project, I never got to finishing it, though https://github.com/hexpm/hex/pull/348.

[2018-02-13 16:38] supersimple commented on #502
This part:
mix hex.docs fetch PKG VERSION - no changes
mix hex.docs online PKG VERSION - same as open today
mix hex.docs offline PKG VERSION - same as open --offline today

is completed in https://github.com/hexpm/hex/pull/503

[2018-02-14 05:44] supersimple commented on #502
I am starting to work on the second part. Here is the behaviour I am proposing:
`mix hex.docs fetch`
  - Check if we are in a project
      - if not, raise an error
      - if so, find all deps in project, with versions
         - then iterate through that list and fetch every dependency, with that version

  `mix hex.docs fetch PKG`
    - Check if we are in a project
      - if not, fetch the lat

[2018-02-14 18:39] wojtekmach commented on #502
looks good to me!

[2018-02-14 19:14] supersimple opened #504 "hex docs does not support multiple repos"
Currently hex docs fetches docs into a HEX_HOME/docs/package/release structure. This causes problems where a private repo contains a package with the same name as a public release. They would both download to the same place.

@wojtekmach proposed adding the repo to the path (HEX_HOME/docs/repo/package/release).

This solves the issue, but causes another one where any currently downloaded packages

[2018-02-14 19:14] wojtekmach commented on #502
if there's gonna be a `mix hex.pkg open PACKAGE` (https://github.com/hexpm/hex/pull/466#issuecomment-364643500) perhaps we should still have `mix hex.docs open` to mirror it (under the hood it could either call `hex.docs online` or `hex.docs offline` or work slightly differently)

[2018-02-14 21:43] supersimple commented on #502
Yes, I think Josés original comment was to keep the tasks similar. Perhaps since he also asked to change open to offline and online, maybe hex.pkg should drop open also, and use those commands as well.

[2018-02-14 22:23] josevalim commented on #502
They don't need to mirror if they do different things :) For example, unless we are also opening a package in the browser, we don't need an online task.

[2018-02-15 05:36] dmlittle opened #506 "Provide a way to ignore files in a hex package upload"
There currently is no solution to exclude files that should be uploaded into the package manager when releasing a version of a package. The default values will pick up files that might be created by the OS or editor while working on the package that is being released.

For example, in macOS the Finder will create a `.DS_Store` file in each directory that has been viewed through it. If I ever opene

[2018-02-15 05:43] supersimple commented on #506
One other idea would be to add a config option (in the hex.config) file. That would then make a global hex rule for any packages that user creates.
The config is also very out-of-the-way, so most users will not know about it and it wont be an obstacle.
`mix hex.config ignore-files [".DS_Store", ".tool-versions", ...]`

[2018-02-15 11:28] ericmj commented on #506
I think an `exclude_files` in the project config and/or in the global `hex.config` would be nice.

[2018-02-15 13:44] wojtekmach commented on #506
The problem with `exclude_files` is that it's a blacklist and usually we want to use whitelists.

I mentioned this in passing in other tickets so let me repeat here. I'd like to discuss solving the problem of unneeded files with a whitelist approach using either (or some combination of):

1. changing default glob pattern from `["lib/*", ...]` to be stricter: `["lib/*.ex", ...]`.

    the obvious c

[2018-02-15 14:13] ericmj commented on #506
`exclude_files` would complement `include_files`, so that we first add all include files and then remove excluded files.

`git ls-files` would unfortunately include unnecessary files.

The manifest seems like too much work and I don't see how we can automate it. Too many mistakes
 will happen if the automate functionality is not perfect. I would rather have .DS_Store in all packages than 1% of pac

[2018-02-15 14:51] wojtekmach commented on #506
we could do `git ls-files lib/*` etc, which should only include what we want (and if not, we put it into .gitignore). However, if say we keep src/*.xrl in git, gitignore src/*.erl and actually want not to ship *.xrl but do ship *.erl - it might be tricky.

here's one idea how manifest could work:

instead of `files: ["lib/", "priv/"]` the user specifies: `manifest: ["lib/*.ex", "priv/assets/*.js"]

[2018-02-15 16:48] ericmj commented on #502
Done in https://github.com/hexpm/hex/pull/503.

[2018-02-15 16:51] ericmj opened #507 "Add certificate store to priv/ instead of embedding in module"
The SSL application will get more performance out of file instead of passing the store as erlang terms because the decoded file can be cached and the terms cannot be cached.

This requires `archive.install` to unzip the archive so we need a fallback to terms for Elixir <1.4.0.

[2018-02-15 16:51] michalmuskala commented on #502
It didn't fully address the second part of using project's versions instead of always latest.

[2018-02-15 16:53] supersimple commented on #502
I am still working on the second part - just need to add some tests and a little refactor.

[2018-02-15 18:05] josevalim commented on #506
But what will be exclude_files? Is it a regex? a pattern? Is it configured globally?

[2018-02-15 19:02] wojtekmach commented on #506
if anyone is interested, I've put together [manifest](https://github.com/wojtekmach/manifest) package that handles `manifest.txt` 😂

[2018-02-16 05:28] supersimple commented on #502
@ericmj @wojtekmach I put up a PR for the new features, but I need help configuring the tests still. If you have time and can take a look, maybe just an example would get me going. Thanks.

[2018-02-16 10:41] ericmj commented on #506
It should probably behave the same as `files` does currently. Since this is a list of strings we can't support it in `hex.config` currently, so I would suggest only adding it to the package config.

[2018-02-16 10:45] josevalim commented on #506
@ericmj then how would you ignore every .DS_STORE? Would you have to list all of them? Would you make it a glob?

[2018-02-16 11:35] ericmj commented on #506
It would be a glob as: `**/.DS_Store`.

[2018-02-16 11:35] josevalim commented on #506
@ericmj i wonder if exclude_patterns with regexes would be better.

[2018-02-16 11:47] ericmj commented on #506
Let's go with `exclude_pattern` as @josevalim suggested initially and let's only do it in the package config. We can extend on this later.

[2018-02-16 11:52] josevalim commented on #506
`exclude_patterns`, plural, if it is a list. :)

[2018-02-16 12:24] nox commented on #506
Those may be of interest:

 * https://doc.rust-lang.org/cargo/reference/manifest.html#the-exclude-and-include-fields-optional
 * https://github.com/rust-lang/cargo/issues/2063

This [comment](https://github.com/rust-lang/cargo/issues/2063#issuecomment-151278863) in particular is very interesting.

[2018-02-19 20:32] ericmj commented on #504
Fixed in https://github.com/hexpm/hex/pull/509

[2018-02-19 20:32] #504 closed

[2018-02-20 21:37] sotojuan commented on #506
`npm` also supports a whitelist, with some defaults:

https://docs.npmjs.com/files/package.json#files

Feels like this could be an entry in `mix.exs`.

[2018-02-20 22:10] dmlittle commented on #506
@ericmj I can work on implementing this feature. I'll have a PR later this week adding the `exclude_patterns` functionality.

[2018-02-24 14:22] Overbryd opened #515 "Bug: requiring a local package compiles different than remote packages"
Hi,

running my package tests on https://github.com/Overbryd/myhtmlex/tree/v0.2 I found that requiring a package locally does not generate an `*.app` file.

The process I test is that I build a hex package locally (`$ mix hex.build`) and I require that package locally in a test project.
The aim is to simulate somebody requiring my hex package and running it.
This is my end-to-end test that everyth

[2018-02-24 15:42] wojtekmach commented on #515
Hello @Overbryd, thanks for the report and steps to reproduce! I was able to compile even shorter list of steps to reproduce this issue:

[code]

[code]

My Hex version:

[code]

An easy fix is to `touch foo/unpack/mix.exs` and recompile and it did create .app file for me, could you double-check? Worth noting that timestamp of `mix.exs` was 1970-01-01.

This is fixed on Hex master, could you doubl

[2018-02-24 17:21] supersimple commented on #502
@ericmj @wojtekmach I think this was completed in https://github.com/hexpm/hex/pull/508

[2018-02-24 17:35] wojtekmach commented on #502
Yup, thanks again!

[2018-02-24 17:35] #502 closed

[2018-02-24 19:11] f34nk commented on #515
Ubuntu 14.04
Hex:    0.15.0
Elixir: 1.6.1
OTP:    20.2

Hi @wojtekmach,
I cannot reproduce this on Ubuntu 14.04. I followed your "foo" demo and it works as expected.
`foo/unpack/_build/dev/lib/foo/ebin/foo.app`

Also the timestamp of the `mix.exs` is the current datetime.

[2018-02-24 20:45] wojtekmach commented on #515
@f34nk reproducible tars have been introduced in later versions of Hex, that's why you're not seeing the bug. You should be able to reproduce it with this:

[code]

[code]

this is fairly unlikely scenario to run into so I don't think it's worth fixing in Mix but hopefully these steps should be enough to reproduce it if someone wants to do it.

[2018-02-24 20:45] #515 closed

[2018-02-25 11:23] Overbryd commented on #515
Thank you very much for looking into it.
Using

[code]

worked flawlessly.

[2018-02-25 13:21] kipcole9 opened #516 "Exception raised when publishing on a new machine with no authenticated user"
I've moved to a new machine and on the first `mix hex.publish` from that machine an exception was raised.  A subsequent `hex.publish` was successful. Hex 17.3, Elixir 1.7.0-dev:
[code]

[2018-03-03 05:53] supersimple commented on #516
Thanks @kipcole9.
@ericmj @wojtekmach I was able to reproduce the error. The issue is that in this case `Hex.Crypto.Encryption.decrypt/2` is receiving cipher_text as a 3 member tuple where it expects a binary `def decrypt({tag, cipher_text}, opts) do`. I will get a PR up shortly with a fix.

[2018-03-04 18:49] supersimple commented on #516
PR https://github.com/hexpm/hex/pull/519 opened.

[2018-03-05 20:58] dmlittle commented on #506
Closing this issue as a PR adding this functionality has been merged! 🙌

[2018-03-05 20:58] #506 closed

[2018-03-07 21:05] whatyouhide opened #520 "MatchError when setting up Hex for the first time"
Was setting up Hex on a new machine for publishing and when authenticating, I inserted username, password, local pw, and local pw confirmation, and I got this:

[code]

I like to think I got the passwords all right but maybe I didn't, in that case the error is a bit cryptic though :P

Elixir: master
Hex: v0.17.3

[2018-03-07 21:07] kipcole9 commented on #520
I think this may be the same as [#516](https://github.com/hexpm/hex/issues/516)

[2018-03-07 21:08] whatyouhide commented on #520
Ah the good old quick issue without looking at other issues, one of my favourite open source things! :D Sorry Hex folks!

[2018-03-07 21:08] #520 closed

[2018-03-09 18:04] wojtekmach opened #521 "Change error message when failing to verify custom repo"
Currently it mentions Hex.pm:

it should mention particular repo we couldn't verify against instead.

[2018-03-12 05:17] TroyLaurin opened #523 "`hex.docs open` doesn't work on Windows"
Basically it always fails with `** (Mix) Command not found: start`.

The problem is in the following code:
[code]

`start` is a built-in command rathan than an executable on Windows, so `System.find_executable` will never succeed.  Why not just leave executable-testing to the OS?

[2018-03-12 09:12] ericmj commented on #523
I agree, we should call `system_cmd` without checking if an executable exists before. A PR would be very appreciated.

[2018-03-12 13:22] TroyLaurin commented on #523
PR in progress; it works, but the unit tests need to be updated... and I don't have the integration tests set up to run yet!

[2018-03-12 13:28] TroyLaurin opened #525 "Unit tests fail on Windows"
It comes down to matching against the output of `IO.ANSI.format`.
Sample errors:

[code]

As a workaround, the following line can be added to `config/config.exs`, in the test section:
[code]

It makes the output look bad if run in a command terminal, but it works fine in an MSYS terminal.

A more robust fix would be to change the assertions to match against regular expressions for the error messag

[2018-03-12 15:07] #523 closed

[2018-03-13 13:52] TroyLaurin commented on #525
Some tests fixed in https://github.com/hexpm/hex/pull/526

All of the non-integration tests pass, though there are still 9 failing integration tests:

[code]

For 1 and 2, I'm not sure how to match the message that may or may not contain an ANSI sequence.
For 3, 4, and 5, the I/O error is likely to be Windows complaining about a filename containing a colon.
6 and 7 could be worked around by simply

[2018-03-16 00:35] stephenmoloney opened #527 "Is there something like `private: true` optionfor hex private organization packages?"
### Description:

- If memory serves me correctly, npm has something like `"private": "true"` to block the publishing of a private package accidentally as public.

- Is there something similar to prevent such an accident for a private hex package?

### Potential Option:

- Add `private: true` option or similar in `mix.exs`. Unless I'm missing something where that accident is not possible in the fi

[2018-03-16 00:49] stephenmoloney commented on #527
or perhaps `organization: "acme"` has the same effect?

[2018-03-16 08:12] wojtekmach commented on #527
@stephenmoloney yes, exactly. Additionally, just before the final `Y/n` confirmation when publishing we're printing whether we're publishing to public hexpm or private repo.

[2018-03-16 08:12] #527 closed

[2018-03-16 13:28] stephenmoloney commented on #527
thanks...

[2018-03-17 01:28] supersimple commented on #521
@wojtekmach I started looking into this, it seems like most of hex.install is hard-coded (or at least designed) only to work  from the public repo.
Just want to verify that there isnt something I am missing.
Do you have any ideas on how to determine which repo the user prefers to use?

[2018-03-17 01:37] wojtekmach commented on #521
I believe I run into this message when running deps.get so its somewhere in Hex.SCM, I will add more details this weekend.

[2018-03-17 01:42] wojtekmach commented on #521
Oh and to answer your question where the repo comes from: it should come from lock.

[2018-03-17 10:59] wojtekmach commented on #516
fixed in #519

[2018-03-17 10:59] #516 closed

[2018-03-18 13:15] wojtekmach commented on #521
Fixed in https://github.com/hexpm/hex/pull/529/commits/e4bd497e68633efde8861fbb0ad435a92bb67097

[2018-03-18 13:15] #521 closed

[2018-03-20 05:18] HangingClowns opened #530 "Corporate Proxy Reporting Cannot Establish SSH Tunnel"
Please excuse if I make some mistakes while typing but I cannot login to github at work. I keep getting a fobidden 403 reply along with :could_no_establish_ssh_tunnel while running mix deps.get. I had to manually install hex and rebar cause of the same issue. Is there a way I can add more verbosity to see where the problem is? I have set with windows environment variables and also using mix hex.co

[2018-03-20 08:46] ericmj commented on #530
Git and github related issues are not really related to Hex so setting `hex.config`. I would recommend asking on the forum, IRC, or Slack where your question will reach more people.

[2018-03-20 08:47] HangingClowns commented on #530
Managed to figure it out. It seems system ENV variables override the hex config ones.

[2018-03-20 08:47] #530 closed

[2018-03-24 06:06] Nate-Wilkins opened #532 "CI and hex.publish"
I'm really curious to see what the recommended workflow is for publishing to hex.pm using a CI server. I was trying to follow [Tristan's blog post](http://erlware.org/automatic-hex-package-publishing-with-travis-ci/) but it seems that it's a bit outdated.

In a nutshell I was trying to generate an unencrypted key that I could use for my CI pipeline. But issue #368 seems to derail that direction a

[2018-03-24 16:09] pragdave opened #533 "Password reset emails"
Sorry to post this here, because I'm not sure it is an issue. But I've been trying to get a password reset email for a couple of days now with no luck. I've tried both with my usr name (pragdave) and email (dave@pragdave.me)

Cheers

Dave

[2018-03-24 16:13] wojtekmach commented on #533
@pragdave I just tested it and it seems there's a problem with resetting password via `mix hex.user`. You can also reset password here: https://hex.pm/password/reset which worked for me immediately, could you try that?

[2018-03-24 16:14] pragdave commented on #533
I have been using the web interface with no luck...

On Sat, Mar 24, 2018 at 4:13 PM, Wojtek Mach <notifications@github.com>
wrote:

[2018-03-24 16:32] wojtekmach commented on #533
@pragdave I'm not sure what's wrong, can be our email delivery service. If you send an email to support@hex.pm from the email you used to register your email account I can reply with a reset link to unblock you in the meantime.

[2018-03-24 19:45] ericmj commented on #532
There is no documentation about publishing from CI because we don't recommend it. Along with bumping the version in `mix.exs`, updating docs and changelogs, creating tags, etc., running `mix hex.publish` is not necessary to automate since it takes a few seconds to run. When publishing you also get useful information, warnings and errors that would be ignored of fail the build when automating on CI

[2018-03-24 21:06] ericmj commented on #533
I tried both the hex.user and website reset and they both work for me. What issue did you have?

[2018-03-24 21:25] wojtekmach commented on #533
No obvious issues, I just didn't get the email in my inbox. Looks good in development.

[2018-03-24 21:27] ericmj commented on #533
Hum, that's strange because we have no error reports or reports of bounced mails.

[2018-03-25 06:35] Nate-Wilkins commented on #532
Ah. That kindof sucks...

Shouldn't maintainers choose whether they want to handle warnings coming from their pipeline? Just seems a bit inflexible. Frustrating because I've used tooling in other ecosystems that allow deployments to fail when there's a warning.

I know this might seem a bit head strong but I'm a huge fan of the elixir ecosystem and I want to help shed some light on why people migh

[2018-03-27 10:55] ericmj opened #534 "Resolver output should differentiate changed and unchanged dependencies"
It should clearly show what was updated, downgraded, and unchanged.

Today:

[code]

Proposal:

[code]

[2018-03-27 11:06] wojtekmach commented on #534
Sounds good! I'd move "Unchanged" section to the bottom as it will often have the most items.

[2018-03-27 11:14] josevalim commented on #534
@wojtekmach shouldn't we keep "Unchanged" at the top because we mostly don't care about them (since the terminal scrolls)? :)

[2018-03-28 13:42] supersimple commented on #534
@ericmj @wojtekmach Working on this today, I'll try to have a PR up by EOD.

[2018-03-28 16:30] ericmj commented on #532
We do fail automatically on warnings. Usually CI tools are set up to publish or build when a tag is published. What do you when the deployment fails, do you ignore this tag, fix the issue, push a new tag and hope that CI passes this time?

We could support something like this.

[2018-03-28 20:05] Nate-Wilkins commented on #532
Warnings do fail! My bad, completely missed that.

If a deploy did fail (the assumption being from code at that tag) ideally I would delete the tag that caused the issue, put in a fix and re-tag.

Are there any big pitfalls into supporting something like this? I'm definitely willing to put some code together as a first take if you're interested.

[2018-03-29 03:11] Schultzer opened #536 "Generating organization keys fails with MatchError"
So I'm trying to publish a new release of my package `ex_cldr_territories`
[code]

I'm generating a strong password in keychain

let just say the "length of the password" is between somewhere "0-50"

[2018-03-29 03:13] kipcole9 commented on #536
Reported earlier :-) https://github.com/hexpm/hex/issues/516 and a fix has been merged.

[2018-03-29 03:21] Schultzer commented on #536
Well when I publish I just get prompt for the local password and it just tells me it's the wrong password.

[2018-03-29 04:49] supersimple commented on #536
@Schultzer what happens when you try to authorize outside of the publish workflow? do you have the same issue?  try `mix hex.user whoami` or `mix hex.user auth`

[2018-03-29 04:51] Schultzer commented on #536
I get prompt for the local password, and when I type in the one I created with I get wrong password.

[2018-03-29 04:56] supersimple commented on #536
ok, what happens when you try `mix hex.user auth` ? that will require your account (remote) password first. Does that password work? if so, can you try resetting your local password (it will prompt for it straight-away)? Also, maybe try a simple password just for testing it out (it is only stored on your local machien and you can use this same process after to make a more secure password.

[2018-03-29 04:58] supersimple commented on #536
Also, I am available on elixir slack (toddresudek) if you want to trouble shoot with me.

[2018-03-29 04:58] Schultzer commented on #536
`mix hex.user auth` I get to do the whole process of username, password, local password
it seams to work. but when I try to publish it still the say wrong local password

[2018-03-29 05:04] #536 closed

[2018-03-29 05:05] supersimple commented on #536
@Schultzer were you able to get it to work? if not, hit me up on slack.

[2018-03-29 05:06] Schultzer commented on #536
@supersimple yeah it's working now just had to run `mix hex.user auth` five times.

[2018-03-29 05:08] supersimple commented on #536
well, good to hear. My guess was something got corrupted in your hex.config file. `mix hex.user key --revoke-all` will clean that if it ever happens again.

[2018-03-29 05:21] supersimple commented on #532
There is an existing pattern for pulling down deps form private organizations; `mix hex.organization auth <ORGNAME> --key <KEYHERE>`
It seems like a logical pattern to use for this task as well, eg. `mix hex.publish auth <username> --key <KEYHERE>`

[2018-03-29 12:47] ericmj commented on #532
I would rather have it as an environment variable `HEX_API_KEY` so that we don't have to create new tasks or everywhere try to determine if the key is encrypted or not.

[2018-04-01 21:28] supersimple commented on #534
Resolved in: https://github.com/hexpm/hex/pull/535

[2018-04-02 07:33] jfrolich opened #537 "Hex times out every time (Singapore)"
Hex 'reliably' times out on a 60 seconds timeout. I have quite a few dependencies, and a large number of git based dependencies, which could be the cause of the timeout?

I have to connect to a VPN in the US to make it work.

This has been happening for me for over 2 weeks.

[code]

The package it times out on (`{:versions, "hexpm", "httpotion"}`) is different every time.

[2018-04-02 08:13] kanishkablack commented on #537
It might be an error of fastly

[2018-04-02 10:39] jfrolich commented on #537
Looks to be resolved after installing reinstalling hex

[2018-04-02 10:39] #537 closed

[2018-04-02 20:35] pragdave opened #539 "hex.publish hard wires the path to ex_doc"
I'm using `asdf` to manage my elixir versioning. Like most version managers, it generates shims for the executables. In my case:

[code]

When I run `mix hex.publish`, it fails:

[code]

Rather than hard-wiring the path to ex_doc, I believe that hex should just assume it is in the path.

Cheers

Dave

[2018-04-02 20:40] wojtekmach commented on #539
Hello, hex just runs `mix docs` and I believe the problem is that earmark has "overwritten" docs task:

- https://github.com/pragdave/earmark/blob/v1.2.5/mix.exs#L33
- https://github.com/pragdave/earmark/blob/v1.2.5/mix.exs#L70
- https://github.com/pragdave/earmark/blob/v1.2.5/tasks/docs.exs#L25

I believe there's nothing we can do on Hex side, but let us know if we can help still!

[2018-04-02 20:40] #539 closed

[2018-04-02 20:43] pragdave commented on #539
argh... sorry to waste your time.

[2018-04-04 03:35] stepheneb opened #540 "Request failed (:timeout) Getting phoenix (Hex package)"
Am getting a timeout error getting phoenix hex package running ```mix deps.get``` in a hello application.

Am completely new to this ecosystem so let me know if there is a better place to post this.

Following install and first app instructions here:
https://hexdocs.pm/phoenix/up_and_running.html

[code]

But the package is certainly there and can be downloaded

[code]

[code]

[2018-04-04 03:58] stepheneb commented on #540
Hmmm ... after failing with a timeout a number of times, downloading the tar archive manually and then failing with a timeout a few more times I then tried running ```mix certdata```.

There was no indication it did anything related to certificates ... but the next time I tried running ```mix deps.get``` it completed downloading the package dependencies.

I had earlier looked to see if mix had an

[2018-04-04 15:08] stepheneb commented on #540
[code]

This morning I cleaned deps and got more timeout errors (for different packages):
[code]

Details from yesterday:

 I tried running ```mix deps.get``` maybe about 10 times over a 15m period and everytime a timeout error was generated. I then investigated by downloading the tar archive manually to confirm the file was available from the hex package management server. Then I tried a few more

[2018-04-04 15:13] ericmj commented on #540
Can you screenshot the result of http://www.speedtest.net/.

You can try lowering the HTTP concurrency and increasing the timeout to increase the chance of success:

[code]

For reference https://github.com/hexpm/hex/blob/master/lib/mix/tasks/hex.config.ex#L30-L34

[2018-04-04 19:28] stepheneb commented on #540
http://www.speedtest.net/result/7199372577
PING: 91 ms
DOWNLOAD 2.71 Mbps
UPLOAD 0.72 Mbps

probably an easier way to clear this cache:

[code]

Now after cleaning I can generate a timeout:

[code]

Setting the concurrency and timeout options resulted in success:

[code]

[2018-04-05 04:28] supersimple commented on #540
It appears to be an issue with the speed of your downloads. Rather than using those ENV vars every time, you can set them in your hex config `mix hex.config http_concurrency 1` and `mix hex.config http_timeout 120`
I would try increasing that concurrency to a point at which it still does not fail (the default setting is 8, so target that.)

[2018-04-06 12:38] Lincxx commented on #474
I also was developing on a thumb drive and it was not letting do mix deps.get with quantum
I'm using Windows 10 Enterprise
                Ver 1709
                OS Build 16299.125
I received this:
mix deps.get
Resolving Hex dependencies...
Dependency resolution completed:
  bunt 0.1.6
  credo 0.4.14
  crontab 1.1.2
  gen_stage 0.13.1
  quantum 2.2.7
* Updating quantum (Hex package)
** (Mix) Unp

[2018-04-06 14:12] OnorioCatenacci commented on #474
Are you attempting this under WSL by chance? Just want to make sure I'm
clear when I try to reproduce this.

On Fri, Apr 6, 2018 at 8:38 AM, Jeremy Lincoln <notifications@github.com>
wrote:

--
Onorio Catenacci

http://onor.io
http://www.google.com/+OnorioCatenacci

[2018-04-06 14:49] Lincxx commented on #474
@OnorioCatenacci  no, but I was using cmdr. I should try powershell or cmd and see if I get the same error. I'll try it out this evening.

[2018-04-08 12:46] ericmj commented on #533
Fixed by support.

[2018-04-08 12:46] #533 closed

[2018-04-08 14:58] ericmj opened #541 "Wrap Elixir ANSI implementation"
To make tests easier we have added `Application.put_env(:elixir, :ansi_enabled, false)` to test `test_helper.exs` but this disables all coloring and highlighting from `mix test`.

Wrap all ANSI functions so that we can use our own configuration that does not affect `mix test` output.

[2018-04-08 14:58] ericmj commented on #525
@TroyLaurin Which tests are still failing on Windows?

[2018-04-09 01:07] TroyLaurin commented on #525
Just updated from master:

[code]
Definitely going to get decreased returns from trying to get these two tests working in Windows, and I'm tempted to suggest just skipping them.  Trying to get mtime/ctime checks consistent across platforms tends to be difficult.

Not too sure about the mode test.  0100666 != 0100644.  Windows ACLs don't map well to unix-style file permissions... I'd suggest testin

[2018-04-09 14:49] supersimple commented on #541
Would this mean a new function that is defined conditionally based on mix env?
[code]

[2018-04-09 14:58] ericmj commented on #541
We need our own config that determines if we should emit fragments or not, so something like this: https://github.com/elixir-lang/elixir/blob/91e8a76bfb5f064bd28b15e85f4ac5e84848b2b5/lib/elixir/lib/io/ansi.ex#L249 based on a `Hex.State` config.

[2018-04-13 18:49] yordis commented on #540
@supersimple @ericmj the solution of downgrading the concurrency and timeout did the trick for us.

[2018-04-14 21:03] #534 closed

[2018-04-14 22:54] wojtekmach opened #545 "Private docs url when publishing"
Currently it shows the incorrect public URL:

[code]

Currently, `POST /api/packages/:name/releases/:version/docs` returns 201 with location of the docs tarball, perhaps it should return JSON with docs_html_url and docs_tarball_url?

In the meantime, on the client we can grab docs_html_url by calling API.

[2018-04-15 04:40] JNKRMN commented on #540
This worked for me Thanks @supersimple @ericmj

[2018-04-16 18:00] supersimple commented on #541
Resolved in https://github.com/hexpm/hex/pull/544

[2018-04-17 18:44] ericmj commented on #541
Fixed in #544.

[2018-04-17 18:44] #541 closed

[2018-04-17 18:47] ericmj opened #547 "Add HEX_API_KEY environment key"
This would be an unencrypted API net that can be useful for CI systems.

Source https://github.com/hexpm/hex/issues/532.

[2018-04-17 18:47] ericmj commented on #532
Moved to #547.

[2018-04-17 18:47] #532 closed

[2018-04-17 21:29] #540 closed

[2018-04-18 09:24] mlecar commented on #540
This `rm -rf ~/.hex/packages` worked for me. Thanks @stepheneb

[2018-04-18 16:41] danielberkompas opened #548 "RemoteConverger.dep_info_from_lock/1 does not cover all cases"
It looks like the `0.17.4` release does not support mix.lock entries in this format.

[code]

I'm getting the following error trying to fetch dependencies with `mix deps.get`:

[code]

The problem seems to be that `RemoteConverger.dep_info_from_lock` does not have a function head for the above case.

Here is my complete `mix.lock` file for reference:

[code]

**Edit**: I accidentally put in the wr

[2018-04-18 16:51] joshcrews commented on #548
My heroku deploys are failing for two separate phoenix apps with similiar issue.  I'm on hex 0.17.5. Here's teh heorku dump

[code]

[2018-04-18 16:54] justgage commented on #548
Locally on 0.17.5

[code]

[2018-04-18 16:58] quolpr commented on #548
Are there any ways to use older hex version?

[2018-04-18 16:59] danielberkompas commented on #548
@quolpr incorporate `mix hex.install 0.17.3` into your build scripts and you should be fine for now.

[2018-04-18 17:00] codeithuman commented on #548
@quolpr Our's looks similar to the following:
[code]

[2018-04-18 17:03] codeithuman commented on #548
Looks like 0.17.6 was just released and fixes the issue, https://github.com/hexpm/hex/releases/tag/v0.17.6.

[2018-04-18 17:06] joshcrews commented on #548
0.17.6 fixes for me, thank you maintainers

[2018-04-18 17:13] ericmj commented on #548
The issue has been fixed in a bugfix release as reported. Sorry for the inconvenience.

[2018-04-18 17:13] #548 closed

[2018-04-18 22:20] erauer opened #549 "Regression building nerves system with hex 0.17.6"
I'm seeing a regression in Hex 0.17.6 vs 0.17.3 when building [nerves_system_rpi3]( https://github.com/nerves-project/nerves_system_rpi3).

running "mix deps.get" works on 0.17.3 but fails on 0.17.6.

$ mix deps.get
Resolving Hex dependencies...
Dependency resolution completed:
Unchanged:
  distillery 1.5.2
  earmark 1.2.4
  ex_doc 0.18.3
  nerves 1.0.0-rc.1
  nerves_system_br 1.0.0-rc.3
  nerves_

[2018-04-19 00:45] wojtekmach commented on #549
That seems to be regression in the new Erlang tarball code we have shipped recently, sorry for that.  will investigate tomorrow, you can downgrade to last good version with:

    mix hex.install 0.17.3

[2018-04-19 11:59] ericmj commented on #549
The issue is that the nerves packages have broken symlinks, the links point to non-existent files. The code that breaks in Hex is when we touch all unpacked files so they have the mtime of unpacking. We do this so that incremental compilers will always pick up the latest changes.

The previous code worked because it used `File.touch` that will create the symlink target if it does not exist, so it

[2018-04-19 16:01] mdillavou commented on #549
I am seeing something similar. 0.17.3 works fine, but 0.17.6 fails:

[code]

[2018-04-19 16:02] wojtekmach commented on #549
just to give some more context, we got that crash when unpacking:

https://github.com/nerves-project/nerves_system_br/blob/master/board/nerves-common/skeleton/dev/log

which points to non-existent `log` in:

https://github.com/nerves-project/nerves_system_br/tree/master/board/nerves-common/skeleton/tmp

[2018-04-19 16:04] wojtekmach commented on #549
@mdillavou that's a separate issue, I'm working on that right now.

[2018-04-19 16:25] mdillavou opened #550 "Regression: 0.17.6 fails with elixir-1.4.5 and otp 19.3"
I have several projects that are no longer able to successfully run `mix.deps`. These projects worked fine with hex-0.17.3, but now fail with hex-0.17.6. This is when running Elixir-1.4.5 and OTP-19.3.

[code]

[2018-04-19 16:25] mdillavou commented on #550
I believe the issue is with the `Hex.unpack_tar!` modifications.

[2018-04-19 16:27] mdillavou commented on #549
ok, I opened a separate ticket #550

[2018-04-19 16:29] wojtekmach commented on #550
The fix is on master and there will likely be a new release today, sorry for inconvenience.

[2018-04-19 18:12] #549 closed

[2018-04-20 13:32] mdillavou commented on #550
Thanks for the quick fix. Everything is working correctly with 0.17.7.

[2018-04-21 08:02] ericmj opened #551 "Print error when package exceeds hex.pm limit"

[2018-04-21 11:10] ericmj commented on #551
You are right of course.

Looking into this I think the limit should be configurable or possibly that the user of the library should be able to configure the limit. The limit is set by hex.pm and we are considering raising it for private packages and private hosting may have no limits. I also think the limit should be enforced on `mix hex.publish` not by `mix hex.build`.

What do you think is the

[2018-04-21 11:35] wojtekmach commented on #551
Agreed with all points, but I'm on a fence which way we should go. If we enforce the limit on `hex.publish` is it still useful to have configurable limit in hex_erl? I'd say maybe as it's cheap validation but I'm not super convinced.

If we raise or drop the limits for other offerings one nice thing we'd lose is catching mistakes e.g. people accidentally publishing large files. (the downside of li

[2018-04-23 05:31] supersimple commented on #547
@ericmj @wojtekmach Where does the unencrypted API key come from? Is that something currently available?

[2018-04-23 10:09] ericmj commented on #547
That's good point, it's not currently easily available. You can only generate unencrypted API keys via the HTTP API right now.

We should add a task `mix hex.user key --generate` similar to the `mix hex.organization key` we have today.

[2018-04-23 12:48] dennisxtria opened #552 "Add support for PubGrub"
PubGrub is a general-purpose version solving algorithm looks very interesting in its implementation and could potentially be useful for hex.

If it is possible, please add support for PubGrub.

[Source](https://medium.com/@nex3/pubgrub-2fb6470504f)

[2018-04-23 13:10] josevalim commented on #552
Changing the version solving algorithm is a very complex task and, even if we are going to migrate to something new, we should do a complete study of the algorithms and also wait for the alternatives to get a bit more mileage. At the moment we are focusing on other tasks.

[2018-04-23 13:10] #552 closed

[2018-04-23 14:58] ericmj commented on #552
It looks like the PubGrub algorithm is very similar to the Hex resolver both in the core loop and how it generates error messages. The main difference is that PubGrub is based on incompatibilities instead of success constraints which are then used to trim the set of possible dependency combinations to try when backtracking. That's a clever optimization that we should be able to use in Hex as well.

[2018-04-24 09:28] mschae opened #554 "Proposal: Add flag to make hex.outdated return a non-zero code when deps are out of date"
For our CI Pipeline it would be ideal if `mix hex.outdated` could be configured to return a non-zero exit code if any dependencies are out of date, similar to how one can at `--warnings-as-errors` to `mix compile`.

If this proposal is deemed interesting by the community I would volunteer to implement that functionality.

[2018-04-24 09:34] ericmj commented on #554
Yeah, we can definitely add this feature. You can look at `mix hex.audit` for inspiration because it does the same thing.

On a personal note I think that outdated dependencies should not be treated as an error nor as something necessarily bad, but I understand that it can still be a useful for feature 😀.

[2018-04-24 09:48] wojtekmach commented on #554
I'm glad you've came around (https://github.com/hexpm/hex/issues/208) 😂

[2018-04-24 09:49] mschae commented on #554
Sorry didn't find the earlier ticket. I do agree we wouldn't make our CI pipeline fail, just issue warnings when something's outdated. Still easier for us to check for a non-zero code tho :)

[2018-04-24 09:51] ericmj commented on #554
Yes, I realize it's better to just give my recommendations and let folks do what they want :)

[2018-04-25 09:55] dumbbell commented on #469
Hi!

I just discussed this issue on IRC with @ajaygtm71. The problem is the copy of the Hex plugin included in the RabbitMQ source archive. The plugin was fetched using Mix when we create the source archive. I suppose the plugin was compiled on x86 so little-endian and it crashes when used on a big-endian host.

To test that theory, @ajaygtm71 built the Hex plugin locally on s390x and copied the `

[2018-04-25 14:16] #469 closed

[2018-05-01 10:36] ericmj commented on #545
@supersimple We should fix it but it disable it in the client for now until it is supported.

[2018-05-04 14:31] ericmj opened #561 "Avoid making conditional HTTP request when package is older than one hour"

[2018-05-04 14:33] ericmj opened #562 "Check if we can avoid fetching registry for locked packages"
This should be possible but requires changes to the resolver due to the way we prefetch the registries and how locked dependencies are implemented.

It also means we will not got new retired messages for already locked dependencies.

[2018-05-04 15:34] michalmuskala commented on #562
Maybe it would make sense to fetch the registry only once a day for example?

I also wonder if maybe it would be possible to optionally provide info about depreciation in an HTTP header for the tarball. I'm not sure if that's possible on current infrastructure, though.

[2018-05-04 20:54] ericmj commented on #562
It is possible to set headers but it's tricky because we use S3. If we implement https://github.com/hexpm/hex/issues/561 as well it wouldn't be very useful anyway.

[2018-05-06 11:55] #554 closed

[2018-05-08 16:16] supersimple opened #564 "RFC: Add option to hex.retire to retire or unretire a group of releases"
I have a use-case where I want to retire all 1.x versions of a package. Rather than individually retiring each release, I was hoping to do them all at the same time. I think the common action is just to retire the most recent release which would not show the flag in the CLI nor the banner on hexpm if a user is a point release behind.

My initial idea was `mix hex.retire PKG VER --major` or `mix he

[2018-05-08 17:06] wojtekmach commented on #564
To me this doesn't seem to be a common enough use case to justify adding more code. I'd suggest to solve it with a little scripting:

[code]

fwiw when using `mix hex.info` we'd only get several recent versions and there isn't another built-in way to get all published versions. We can get them from API easily though:

[code]

[2018-05-12 09:50] 4goodapp commented on #540
Have the same problem like OP, `mix certdata` helped solve the timeout issue.

[2018-05-14 21:07] supersimple commented on #564
@ericmj I will close this later today unless you want to discuss it further. I see some value in the feature, but I respect the maintainers opinion on not want to add complexity to the project for little gain.

[2018-05-15 17:35] #564 closed

[2018-05-16 07:48] ericmj commented on #564
Thanks for the feature request, let's wait and see if we get similar requests and maybe we can nail down a good API when we have more use cases.

[2018-05-16 12:42] tim2CF opened #565 "can't push private package with --key option"
On CI build machine:
[code]
executes ok, but after that
[code]
was interrupted with message
[code]

[2018-05-16 13:51] ericmj commented on #565
When you authenticate an organization you can only use it to fetch packages. To publish a package you need a user key (in 0.18.0 you will be able to use organization wide keys).

You can generate a user key with `mix hex.user key --generate` and then set it in the `HEX_API_KEY` environment variable to tell hex to use it. This functionality is only available in master.

[2018-05-16 14:00] tim2CF commented on #565
thanks!

[2018-05-17 14:50] hypno2000 opened #566 "error on publish: "Creating tarball failed: tarball is too big""
We are trying to publish a forked `ex_admin` under our organization and getting this:

[code]

We have not added any static assets so it should not be any bigger than the original.

Anyway to get around this?

Thanks

[2018-05-17 15:14] ericmj commented on #566
There seems to be some duplication:

web/static/assets/fonts/
priv/static/fonts/

and:

web/static/vendor/
priv/static/js/

A large part of the size also seems to be themes, since ex_admin does not seem to maintain them I would recommend instead giving instructions on how to do download and install them or build a task that does this instead of bundling them in the dependency.

Solving these issue

[2018-05-18 07:10] hypno2000 commented on #566
Thanks a lot. Will investigate.

[2018-05-18 10:25] #566 closed, assigned to nobody

[2018-05-19 01:55] wojtekmach commented on #566
For now yes but we'll likely increase the limit for private packages in the future.

[2018-05-20 12:26] CrowdHailer opened #567 "Add instructions to the config section for using Elixir libraries from erlang projects"
Erlang projects have instructions for including them in both erlang (rebar.config, erlang.mk) and elixir (mix.exs) projects. e.g. https://hex.pm/packages/elli

Elixir projects have only instructions for including them in other elixir projects. Even when an effort has been made to make them useful in erlang. e.g. https://hex.pm/packages/benchee

I can find any way to add erlang instructions to Elix

[2018-05-20 15:40] michalmuskala commented on #567
I think the primary  blocker is that erlang project management tools (rebar3 and erlang.mk) don't support elixir dependencies directly. Any effort should start with adding some sort of such support there.

[2018-05-20 15:42] CrowdHailer commented on #567
rebar3 definitely has a defined normal path for adding elixir even if you need the plugin

[2018-05-21 13:19] ericmj commented on #567
What config section are you referring to?

From what I have heard the existing plugin has some problems. Mix has added proper support for compilation from other build tools in https://github.com/elixir-lang/elixir/pull/7419. I would like rebar3 to also add built-in support for elixir projects or at least the plugin fixed to use what we added in https://github.com/elixir-lang/elixir/pull/7419.

Unt

[2018-05-23 17:32] ericmj opened #568 "Add ownership levels"
Ownership levels were recently added to the API https://github.com/hexpm/hexpm/pull/675, we need to add support for this in the CLI.

Level should be shown when listing owners with `mix hex.owner list` and we should add a `--level` flag to `mix hex.owner add`.

[2018-05-25 00:54] ericmj commented on #567
Ping?

[2018-05-26 16:28] supersimple commented on #568
@ericmj I dont see where the levels are allowed in the hexpm API. I see `def create(conn, %{"email" => email} = params) do`
Do I have outdated code? Should the request be directed to a different controller/action?
Thanks

[2018-05-26 16:35] supersimple commented on #568
Sorry, it looks like that is included as a query string param.

[2018-06-05 12:02] fazibear opened #570 "deps.get does not work in parallel"
When you try to lunch `mix deps.get` simultaneously for the same project located in different directories, you'll get:

[code]

Temporary fix for that is to set `HEX_HOME` variable to separate dirs.

[2018-06-05 14:13] ericmj commented on #570
I'm not sure if we can or how to fix this. I guess the cache file we are using is corrupted when we write to it from two processes.

[2018-06-06 18:04] fazibear commented on #570
Maybe some kind of locking mechanism could fix the problem. Mix shouldn't throw the exception like this.

[2018-06-06 18:47] ericmj commented on #570
I agree we shouldn’t throw if we can avoid it. Contributions are welcome if you know how to fix it.

[2018-06-09 00:03] greysteil opened #571 "Resolver bug when updating ex_doc"
Hey team,

First up, thanks for hex. It's awesome. We abuse a bunch of its private APIs to make Dependabot work with Elixir.

I've found a resolver bug. My Elixir is awful, so I'm not sure how to fix it, but I've reduced it to a simple `mix.exs` and `mix.lock`.

With the below files, running `mix deps.update ex_doc` will yield an error even though resolution is possible. Running `mix deps.update e

[2018-06-13 10:28] vasuadari opened #573 "Connection to hex.pm fails randomly for different packages for the past few hours"
[code]

[2018-06-13 10:31] vasuadari commented on #573
Closing this. Raising this issue on hexpm repo.

[2018-06-13 10:31] #573 closed

[2018-06-13 15:43] ericmj opened #574 "Add warning to hex.install if something other than a version is passed"
https://github.com/elixir-lang/elixir/issues/7747

[2018-06-14 09:42] #574 closed

[2018-06-14 21:35] #571 closed

[2018-06-22 10:03] kelostrada opened #576 "Publishing to private repository gives Internal Server Error"
I'm trying to publish a package on private repository.

[code]

I found out that the problem is with dependencies tree.

Let me give you an example:

There is a package `ueberauth`, `ueberauth_identity` and `ueberauth_google`.

I had to fork `ueberauth` and  `ueberauth_google` because I needed to change something and published them to private repository, so my `mix.exs` deps look like this:

[code

[2018-06-22 14:42] ConnorRigby opened #577 "hex.retire doesn't work"
I just tried to retire a version of a package and it fails with a weird message.
FWIW if i don't supply the reason (ie making it nil) it just prints the usage. I may be doing something wrong, but it'd be nice if this error told me what this was. I'm fairly certain this is how i retired a version last time, though it's been a while.

[code]

[2018-06-22 16:09] ericmj commented on #576
Are you trying to publish a private package that depends on the three ueberauth packages?

Can you try publishing again because I am not seeing any errors in the logs that could be related to this.

It looks like you unfortunately need to fork ueberauth_identity as well so it can use your other forks.

[2018-06-22 16:30] ericmj commented on #577
The error message is bad, but you are giving bad arguments. You probably want something like:

[code]

[2018-06-22 16:39] kelostrada commented on #576
I can prepare exact scenario that produces this error later and you will be able to push yourself like this. Just give me a day, because probably today I won't have time for this.

[2018-06-22 16:40] ConnorRigby commented on #577
Ah I'm dumb. Thanks! Feel free to close.

[2018-06-22 16:59] #577 closed

[2018-06-23 07:47] kelostrada commented on #576
I created a simple repository which should give you an idea how to reproduce the bug (Internal Server Error). I guess it's not fatal, but probably you should have a better error than that for your commercial customers ;)

[2018-06-23 07:54] kelostrada opened #579 "How to delete private package?"
Cannot find it in docs - is it possible to delete private package from organization?

[2018-06-23 09:13] kelostrada commented on #579
Thanks, it's not obvious from the docs that reverting version will remove the package (if it's the only version available), but could have figured that out. However I ran the command and got:

[code]

The package was deleted and I know there is no docs for private packages, but still there shows an error which can suggest something went wrong :) Maybe that should be at least a warning?

And one mo

[2018-06-23 09:15] ericmj commented on #576
The error is now:

[code]

[2018-06-23 09:16] #576 closed

[2018-06-23 09:43] ericmj commented on #567
Closing due to lack of activity.

[2018-06-23 09:43] #567 closed

[2018-06-23 09:44] ericmj commented on #570
Closing since we don't have a solution for this.

[2018-06-23 09:44] #570 closed

[2018-06-23 09:47] ericmj commented on #579
The docs for private packages are here: https://hex.pm/docs/private.

[2018-06-23 09:49] ericmj commented on #525
Closing due to lack of activity. If someone wants to fix the last Windows tests that would be appreciated.

[2018-06-23 09:49] #525 closed

[2018-06-23 09:49] ericmj commented on #507
We will solve this with xhttp instead.

[2018-06-23 09:49] #507 closed

[2018-06-23 09:51] ericmj commented on #561
Note that we still have to make conditional requests for private packages since they are mutable.

Since other repositories may not have the same immutability policies maybe we should skip this optimization all together?

[2018-06-29 15:44] amit115532 opened #580 "mix deps.get for organization package fails on windows"
This is the error im getting

It happens because it tries to create a folder with the name hexpm:{organization_name} which is ilegal in windows.

[2018-07-01 12:11] #580 closed

[2018-07-05 20:48] fertapric opened #586 "mix deps.get failing on CI: "Task #PID<x.x.x> started from :hex_fetcher terminating""
[code]

The code works locally, but it fails consistently in Travis CI:

[code]

**mix.exs**
[code]

**mix.lock**
[code]

Btw, I tried removing the organization dependency (just to discard things), and `mix deps.get` still fails 😞

If it helps, I can create a new Travis build and give SSH access to it :)

[2018-07-05 21:33] fertapric commented on #586
Forget what I said, it was to be related to organizations.

Here is the problem:

On the CI:

[code]

On my local machine:

[code]

The URL param in `~/.hex/config` in the CI `/repos/accountyn` was passed around until it hit [`URI.parse(url).host`](https://github.com/hexpm/hex/blob/master/lib/hex/http/ssl.ex#L56) being the `url` `/repos/accountyn/my_package`.

The only thing I miss is how that got

[2018-07-05 21:37] mpiercy827 commented on #586
We are seeing the same issue on CircleCI, but things seem to be working normally.

[2018-07-05 21:58] fertapric commented on #586
I think this the [offending change](https://github.com/hexpm/hex/pull/559/files#diff-4d6d7c90162640528afa283810570fefL151).

[2018-07-06 01:03] dmlittle commented on #586
@fertapric I spoke with Eric earlier today and confirmed there's a bug with organization authentication. He said there'd be a fix tomorrow for it.

[2018-07-06 02:59] LanfordCai commented on #586
@dmlittle We are using hex in production, this bug would be a block for our work. I want to know whether rollback hex version would solve this problem? If so, how to do the rollback? I didn't find the method in the hex doc.

[2018-07-06 03:10] hupengbuaa commented on #586
Is it possible to `mix local.hex` with a specific version? I am trying to install the old version, suppose it would work.

[2018-07-06 03:29] dmlittle commented on #586
@LanfordCai as far as I understand it, this is an issue with the Hex servers not accepting valid credentials so updating your local version of hex won't solve the issue. I'm not affiliated with Hex so I have no way to solve the underlying problem. I'm just listed as a contributor because I've put up a PR in the past.

[2018-07-06 03:46] LanfordCai commented on #586
@dmlittle I want to appoint a specific hex version in my dockerfile. @hupengbuaa have came up with an idea to solve this problem: clone hex code, checkout to specific version and install it in dockerfile.

[2018-07-06 08:44] ericmj commented on #586
I have identified the issue and will release a hotfix.

You can install a specific version by running `mix hex.install 0.17.8` this only works after you have run `mix local.hex`. In the future `mix local.hex` will also accept a specific version to install.

[2018-07-06 09:10] #586 closed

[2018-07-06 09:16] ericmj commented on #586
I have released a hotfix that should fix the issue. Sorry for the inconvenience.

[2018-07-07 04:17] scrogson opened #588 "hex.outdated breaks CI builds"
Since the `v0.18.0` release we started seeing our CI builds fail due to the changes introduce in `mix hex.outdated`.

According to the proposal in https://github.com/hexpm/hex/issues/554 there was supposed to be some sort of flag to optionally exit with non-zero. But in #563 it doesn't appear to be configurable.

It seems that having some sort of `--strict` flag would be a more desirable than the

[2018-07-07 04:36] supersimple commented on #588
@scrogson v0.18.0 had an issue. Are you updated to 0.18.1 yet? (just want to confirm the issue was not fixed in the latest patch release)

[2018-07-07 04:45] supersimple commented on #588
Sorry @scrogson, i re-read your comment. Both hex.audit and hex.outdated return non-zero codes and are not configurable (strict mode.)
We did have some discussion on that idea (i'll try to find the thread) but i think it was decided a non-zero code was expected.
How are you using hex.outdated in your CI pipeline? I would be interested in hearing the case for hex.audit or hex.outdated to output an

[2018-07-07 06:04] supersimple commented on #588
@ericmj @wojtekmach I put up a couple PRs to address this use-case.
Please push back if you think it is not a worthwhile addition to the code. The original request mentioned a strict mode, I thought since the current behavior is "strict", it would be better advised to make a "passive" mode which acts differently for the expectation.

[2018-07-07 06:21] wojtekmach commented on #588
Sorry for inconvenience!

Instead of introducing a flag, an alternative is to put into script something like:

    mix hex.outdated || true

Would that work for you?

Personally I think non-zero status code is a good default, thats what Id expect from such cli tool.

[2018-07-07 16:07] scrogson commented on #588
Yeah, I think I agree with what has been said. I'll relay the message back to my team. 👍

[2018-07-07 16:07] #588 closed

[2018-07-12 12:15] ericmj opened #591 "Add checks before publishing docs"
* [ ] The uncompressed size of the docs tarball should be <64mb, this means we probably have to build the tarball and compress it as two steps.
* [x] Root directory names can not be valid semver versions, otherwise we can have conflicts between unversioned docs https://hexdocs.pm/elixir and versioned docs https://hexdocs.pm/elixir/1.6.6.

These checks are performed by hexpm right now, but the uplo

[2018-07-13 06:39] fertapric commented on #52
In the light of [recent events in npm](https://eslint.org/blog/2018/07/postmortem-for-malicious-package-publishes), should this issue be reopened?

[2018-07-13 08:19] ericmj commented on #52
This issue will be opened when we have an idea or an idea is proposed of how to solve it. I don't like keeping issues open that are not actionable so until we will keep it closed.

We don't know how the account was compromised so we don't know if signing would have helped.

npm had to revoke *all* of their tokens ever issued because the attacker could have extracted old token secrets with the toke

[2018-07-15 19:22] wojtekmach opened #592 "Missing docs for `mix help hex.owner`"
[code]

We should show list of subcommand, similar to here:

[code]

Also, audit other tasks for similar lack of documentation.

[2018-07-15 19:50] wojtekmach commented on #592
I've reinstalled Hex and can't reproduce this anymore, most likely related to my local setup. Closing for now.

[2018-07-15 19:50] #592 closed

[2018-07-17 03:00] soteras commented on #551
To check: We need add a new key in *hex.config* possible *package_max_size* and verify if tarball is less than  *package_max_size* in *hex.publish* ??

[2018-07-17 08:55] ericmj commented on #551
This should not be configurable by users. The question is if should be configurable in https://github.com/hexpm/hex_erl or hard coded, we should move the issue there.

[2018-07-17 08:55] #551 closed

[2018-07-17 14:29] michaelkschmidt opened #596 "Hex fails on older HTTPS Proxies"
We are getting this error when trying to use hex:
[code]

hex config:
[code]

This setup has worked for the past year, and now its broken.  I think it has to do with the proxy server not supporting the ciphers offered

[2018-07-17 14:31] ericmj commented on #596
Can you include the output of `mix hex.info`?

[2018-07-17 14:38] ericmj commented on #596
We use the same ciphers and ssl settings that mozilla recommends in it's "intermediate compatibility" profile [1], if the proxy does not support that it wouldn't be possible to connect to it with modern browsers so I think it is something else.

Since it worked can you tell roughly when it stopped working, if you updated hex or if you believe something changed with the proxy?

Since you are settin

[2018-07-17 14:41] michaelkschmidt commented on #596
[code]

[2018-07-17 14:43] ericmj commented on #596
Actually it looks like hex is trying to connect to repo.hex.pm directly so it seems it's not picking up the config option. Can you gist the contents of the hex.config file without changing the styling, redact what you need of course? You can also try setting the environment variable `HTTPS_PROXY` instead of using hex.config and see if that works.

[2018-07-17 15:11] michaelkschmidt commented on #596
Here are some more data points

This one is working:
[code]

I tried matching their config on mine:
[code]

I didn't realize my local workstation was on OTP 21, but there are others in my group still on OTP 20.

Also, Why did the "built with" change for 0.17.3?

[2018-07-17 17:19] ericmj commented on #596
it didn't change, you installed when you were on Elixir 1.5.

Can you try the environment variable option as well?